<div class="container-fluid" style='margin-bottom:5%'>
    <div class='dental_plan_selectors'>

        <div id='dental-carriers' style='width: 148px;'>
            <b id='dental_carriers_header'>Carriers</b><br/>
            <%- @dental_selectors[:carriers].each do |carrier| %>
              <div id="<%=carrier[1] %>" data-carrier='<%= carrier[2] %>' class="dental_carrier" style='width: 148px;'><%=carrier[0] %> </div>
             <% end %>
        </div>

        <div id='dental-metals'>
            <b>Coverage Level</b> </br>
            <%- @dental_selectors[:dental_levels].each do |dental_level| %>
                <div id="<%=dental_level%>" class="dental_metal"> <%= dental_level %> </div>
            <% end %>
        </div>

        <div id='dental-plan_types'>
            <b>Plan Types</b> <br>
            <%- @dental_selectors[:plan_types].each do |plan_type| %>
            <div id="<%=plan_type%>" class="dental_plan_type"> <%= plan_type %> </div>
            <% end %>
        </div>

        <div id='dental-dc_in_network'>
             <b>DC Network</b> <br>
          <%- @dental_selectors[:dc_network].each do |dc_network| %>
            <div id="<%=dc_network%>" class="dc_network"> <%= dc_network %> </div>
          <% end %>
        </div>

        <div id='dental-nationwide'>
            <b>Nationwide</b> <br>
          <%- @dental_selectors[:nationwide].each do |nationwide| %>
            <div id="<%=nationwide%>" class="nationwide"> <%= nationwide %> </div>
          <% end %>
        </div>
    </div>

    <div class='left'>
    <b>Limit maximum deductible 0-$6000</b>
      <div class='row'>
        <div class='col-sm-1'>
          <%= number_field_tag 'ex2_input', '6000', {  class: "slider_input hidden-param", style: 'margin-top:3%;min-width:75px;' } %>
        </div>
        <div class='col-sm-4' style='margin-top:1%;'>
          <input id="ex2" data-slider-id='ex2Slider' class='slider' type="text" data-slider-min="0" data-slider-max="6000" data-slider-step="1" data-slider-value="6000" style='width:350px;'/>
        </div>
          <div style='margin-top:1%;'><span id='ex2_label' class="slide-label" style='margin-left:2%;'>$6000</span></div>
      </div>
    </div>
</div>
