
<div class="container">
  <hr/>

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
				<h3 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#quote-group" aria-expanded="true" aria-controls="quote-group">
						Quote Information
					</a>
				</h3>
			</div>
			<div id="quote-group" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingQuoteGroup">
				<div class="panel-body" id="quote-info">
					<div class="row form-inline">
						<div class="form-group col-sm-6">Quote Name: <%= f.text_field :quote_name%></div>
						<div class="form-group col-sm-6">Quote Effective Date: <%= f.text_field :start_on, {:class => "uidatepicker" }%></div>
					</div>
				</div>
			</div>
		</div>
		<div>&nbsp;</div>


		<%= f.fields_for :quote_households do |qhh| %>
			<div id="family-panel">
			  <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<%= qhh.text_field :family_id %>
							<button type="button" class="btn btn-default" aria-label="Left Align" onclick="addEmployeeRowToFamily('<%=qhh.object.id.to_s%>','<%= qhh.index %>')">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Add member to this family
							</button>
							<button type="button" data-household-id="<%=qhh.object.id%>" data-quote-id="<%=@quote.id%>" id="remove_household_button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</h4>
					</div>
					<div id="col<%= qhh.object.id.to_s %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<%= qhh.object.id.to_s %>">
						<div class="panel-body" id="family-<%= qhh.object.id.to_s %>">
							<%= qhh.fields_for :quote_members do |qm| %>
							<div class="row form-inline">
								<div class="form-group col-sm-2">DOB: <%= qm.text_field :dob , {:class => "uidatepicker" } %></div>
								<div class="form-group col-sm-3">First Name: <%= qm.text_field :first_name %></div>
                <div class="form-group col-sm-3">Last Name: <%= qm.text_field :last_name %></div>
								<div class="form-group col-sm-3"><%= qm.select(:employee_relationship, [['Employee','employee'], ['Spouse','spouse'], ['Domestic partner','domestic_partner'],['Child','child_under_26']], {}, {:class => "floatlabel"})  %></div>
								<div class="form-group col-sm-1"><button type="button" data-household-id="<%=qhh.object.id%>" data-quote-id="<%=@quote.id%>" data-member-id="<%=qm.object.id%>" id="remove_member_button"  class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
							</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>

<script>
var counter= 1000;
$(".uidatepicker").datepicker();
var date_handler = function() {
	    $(this).datepicker();
			$(this).datepicker({ dateFormat: 'dd/mm/yyyy' });
	    $(this).datepicker("show");
	};

var remove_member_handler = function(){
	if(this.getAttribute("data-member-id") != undefined){

		var $quote_member_id = $(this);

	 $.ajax({
        type: "POST",
        url: "/broker_agencies/quotes/" + this.getAttribute("data-quote-id")  +"/delete_member/?member_id=" +this.getAttribute("data-member-id")+"&household_id="+this.getAttribute("data-household-id"),
        dataType: "js",
        data: {"_method":"delete"},
        complete: function(){
          console.log("Deleted successfully id " + $quote_member_id.attr("data-member-id") );
					$quote_member_id.parent().parent().remove();
					$('[type="hidden"][value="' + $quote_member_id.attr("data-member-id") + '"]').remove();
        }
    });
	}
};

$('button#remove_member_button').click(remove_member_handler);

var remove_household_handler = function(){
	if(this.getAttribute("data-household-id") != undefined){
	 $.ajax({
        type: "POST",
        url: "/broker_agencies/quotes/" + this.getAttribute("data-quote-id")  +"/delete_household/?household_id=" +this.getAttribute("data-household-id"),
        dataType: "js",
        data: {"_method":"delete"},
        success: function(){
          console.log("Deleted successfully");
        }
    });
	}
  $(this).parent().parent().parent().remove();
};

$('button#remove_household_button').click(remove_household_handler);

function addEmployeeRowToFamily(family, idx) {
	var relation_options = '<select name="quote[quote_households_attributes]['+idx+'][quote_members_attributes]['+counter+'][employee_relationship]"><option value="employee">Employee</option><option value="spouse">Spouse</option><option value="domestic_partner">Domestic partner</option><option value="child_under_26">child</option></select>';
	table_row = $('<div class="row form-inline">'
								+ '<div class="form-group col-sm-4">DOB: <input type="text" class="uidatepicker" name="quote[quote_households_attributes]['+idx+'][quote_members_attributes]['+counter+'][dob]"/></div><div class="form-group col-sm-4">Name: <input type="text" name="quote[quote_households_attributes]['+idx+'][quote_members_attributes]['+counter+'][first_name]"  /></div><div class="form-group col-sm-3">' + relation_options + '</div>' +
									'<div class="form-group col-sm-1"><button type="button" id="remove_member_button" data-quote-id="" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
								   + '</div>');
									counter += 1 ;
									$('#family-' + family).append(table_row);
									$(".uidatepicker").focus(date_handler);
									$('button#remove_member_button').click(remove_member_handler);
									$('select').selectric('refresh');
}
</script>
