<div class="container-fluid">
    <div>
      <h4>Step 4 - Select reference plans for comparison using Roster Cost to Employer</h5>

      <h5>Showing <strong id="x-of-plans"><%= @health_plans.count %></strong> of <strong><%= @health_plans.count %></strong>  plans based on your selection criteria</h5>
      <div class="btn-group plan_buttons" data-toggle="buttons" style='max-height: 300px; overflow-y: scroll' id="quote-plan-list">
        <% @health_plans.each_with_index do |p,index| %>
        <label class="btn <%= "active" if params['plans'].try(:include?, p.id.to_s) %>" >
          <input name="plans[]" <%= "checked" if params['plans'].try(:include?, p.id.to_s) %> type="checkbox" autocomplete="off" value="<%= p.id %>">
          <%= p.name  + ' $'%><span class='employer_cost'>0</span></label>
        <% end %>
      </div>
    </div>

      <br>
      <% submit_tag "Compare Costs", class: 'btn btn-primary', id: 'QuoteCalculation' %>
      <div class='btn btn-primary' id='CostComparison'>Compare Costs</div>
      <div class='btn btn-primary' id='PlanComparison'>Compare Plans</div>
      <br><br>

</div>
