<div class ="container">
  <h3>My Quotes</h3>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="table-responsive">
        <table class="table-wrapper" style="opacity: 1;">
          <tr>
            <th>Quote ID</th>
            <th>Quote Name</th>
            <th># of families</th>
            <th></th>
          </tr>
           <% @quotes.each do |q| %>
          <tr>
             <td><%=link_to "#{q.id}" , "/broker_agencies/quotes/#{q.id}/edit" %></td>
             <td><%= q.quote_name %></td>
             <td><%= q.quote_households.count %></td>
             <td><button type="button" id="close_button" data-quote-id="<%=q.id%>" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
          </tr>
          <% end %>
        </table>
        <br><%=link_to "New Quote" , new_broker_agencies_quote_path , method: :get, class: "btn btn-trans", id: "new_quote"%>
      </div>
    </div>
  </div>
</div>
