<div class="module container broker_quote_tool published">
  <div class="row">
    <div class="col-md-12">
      <h3>Review: Publish your Quote</h3>
      <p>Please review the information below before publishing your quote. Once the quote is published, no information can be changed.</p>

      <p>Quote: "<%=quote.quote_name %>" effective <b><%=quote.start_on %></b></p>

      <p>Below is your Employer's Plan offering Spectrum. Your offerings are based on<%= offering_param %> <%= elected_plan_choice %>.</p>

      <p>Costs are based on the roster associated with this quote of <b><%= quote.quote_households.count %></b> families:</p>
      <br>
      <div class="col-xs-12 table-responsive">
        <table class="table table-striped table-hover table-sm panel panel-default">
          <thead class="thead-default">
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Relationship</th>
              <th>DOB</th>
            </tr>
          </thead>
          <% quote.quote_households.each do |house_hold| %>
            <% house_hold.quote_members.each do |member|  %>
            <tr>
              <td><%=member.first_name%></td>
              <td><%= member.last_name%></td>
              <td><%= member.employee_relationship.humanize%></td>
              <td><%= member.dob%></td>
            </tr>
            <% end %>
          <% end%>
        </table>
      </div>
      <div class="quote-benefit-group">
        <div class="benefit-package">
          <div class="panel benefitgroup col-xs-12">
            <div class="col-xs-12">
              <div class="row">
                <section class="col-xs-10">
                  <header class="row">
                    <h3 class="title no-buffer">
                      <%= quote.quote_name %>
                    </h3>
                  </header>
                </section>
                <div class="col-xs-2">
                  <button class="nav-toggle row view" id="showhidebutton" data-toggle="collapse" href="#collapse-health" onclick="viewDetails($(this))">View Details
                    <i class="fa fa-chevron-down fa-lg"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <p>Coverage Year</p>
              </div>
              <div class="col-md-offset-2">
                <p>
                 <%= quote.start_on.strftime("%m/%d/%Y") %> - <%= quote.start_on.next_year.strftime("%m/%d/%Y") %>
                </p>
              </div>
            </div>
          </div>
        <div class="published-quote-table">
          <table>
            <tr>
              <th class="col-md-2 col-xs-2 ">
                <header>Reference Plan</header>
              </th>
              <th class="col-md-2 col-xs-2">
                <header>Carrier</header>
              </th>
              <th class="col-md-2 col-xs-2">
                <header>Type</header>
              </th>
              <th class="col-md-2 col-xs-2">
                <header>Metal Level</header>
              </th>
              <th class="col-md-2 col-xs-2">
                <header>Plans By</header>
              </th>
            </tr>
            <tr>
              <td class="col-md-2 col-xs-2">
                <p>
                  <%=plan.name.upcase %>
                </p>
              </td>
              <td class="col-md-2 col-xs-2">
                <p>
                  <%=plan.carrier_profile.abbrev.upcase %>
                </p>
              </td>
              <td class="col-md-2 col-xs-2">
                <p>
                  <%= plan.plan_type.upcase %>
                </p>
              </td>
              <td class="col-md-2 col-xs-2">
                <p>
                  <%=plan.metal_level.capitalize%>
                </p>
              </td>
              <td class="col-md-2 col-xs-2">
                <p>
                  <% if elected_plan_choice == "single_carrier" %>
                  All Plans From A Single Carrier
                  <% elsif elected_plan_choice == "metal_level" %>
                  All Plans From A Given Metal Level
                  <% elsif elected_plan_choice == "single_plan" %>
                  A Single Plan
                  <% end %>
                </p>
              </td>
            </tr>
          </table>
        </div>
        <div id="collapse-health" class="collapse" >
          <div class="col-xs-1">
            &nbsp;
          </div>
          <div class="col-xs-12 quote-details">
            <div class="col-xs-12">
              <table class = "employer-health-contribution">
                <tr>
                  <th>Offered</th>
                  <th>Employer Contribution</th>
                </tr>
                <% quote.quote_relationship_benefits.each do|rb| %>
                  <tr>
                    <td><%=raw("<i class='fa fa-check-square-o fa-lg'></i>")%><%=rb.relationship.humanize %></td>
                    <td>
                      <strong><%= number_to_percentage rb.premium_pct, precision: 0 %></strong>
                    </td>
                  </tr>
                <% end %>
              </table>
              <div class="col-xs-12">
                <div class="col-xs-1">
                  &nbsp;
                </div>
                <div class="quote-est-month col-xs-11">

                  <div class="row">
                    <div class="col-xs-4">
                      <div class="row">
                        <span>Employer Estimated Maximum Monthly Cost</span>
                        <h2><%= number_to_currency(quote.published_employer_cost)%></h2>
                      </div>
                    </div>
                    <div class="col-xs-8">
                      <div class="row">
                        <table>
                          <tr>
                            <th colspan ="2" ></th>
                            <th>Min</th>
                            <th>Max</th>
                          </tr>
                          <tr>
                            <td colspan="2">Total Estimated Monthly Cost for Plan Participants</td>
                            <td><%= number_to_currency(385)%></td>
                            <td><%= number_to_currency(372)%></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <p>Actual costs may vary.</p>
      <%if quote.aasm_state == "draft" %>
        <%= form_tag("/broker_agencies/quotes/publish_quote", method: "post") do %>
          <%= hidden_field_tag(:id, quote.id) %>
          <%= hidden_field_tag(:reference_plan_id, plan && plan.id.to_s) %>
          <%= hidden_field_tag(:plan_option_kind, elected_plan_choice) %>
          <%= submit_tag "Publish Quote", class: 'btn btn-primary' %>
        <% end %>
      <% end %>
      <h4> Employer Claim Code: &nbsp;<b><%=quote.claim_code%></b></h4>
      <br>
      <%= link_to 'Download PDF' , publish_broker_agencies_quotes_path(:format => :pdf,:quote_id => quote.id) , class: "btn btn-default" , :target => "_blank " %> <br>
    </div>
  </div>
</div>
