<div class="module container broker_quote_tool">
  <div class="row">
    <div class="col-md-12">
        <h2>Broker Quoting Tool</h2>

        <%= form_tag(broker_agencies_quotes_root_path, method: :get) do  %>

         <input name='employee' value='50' type='hidden'>
         <input name='spouse' value='0' type='hidden'>
         <input name='domestic_partner' value='0' type='hidden'>
         <input name='child_under_26' value='0' type='hidden'>
         <%= hidden_field_tag(rb_emp: '777') %>

         <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
         	<div class="panel panel-default">
         		<div class="panel-heading" role="tab" id="quote-mgmt-header">
         				<a role="button" data-toggle="collapse" data-parent="#accordion" href="#quote-mgmt" aria-expanded="true" aria-controls="quote-mgmt">
         					<b>Quote/Roster Management</b>
                  <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>

         				</a>
         		</div>
         	  <div id="quote-mgmt" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="">

              <%=render "my_quotes" , quote_results: @quote_results %>

         	  </div>
         	</div>
          <br>


    <% if @quotes.count > 0 %>
        	<div class="panel panel-default">
        		<div class="panel-heading" role="tab" id="feature-mgmt-header">
        				<a role="button" data-toggle="collapse" data-parent="#accordion" href="#feature-mgmt" aria-expanded="true" aria-controls="feature-mgmt">

        					<b>Features and cost criteria</b>
                  <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                  <span style='margin-left: 50px; font-size: 120%;'  id='show_plan_criteria_count'>Plan count</span>
                   <label class='btn btn-normal hide' id='reset_criteria'> Reset Criteria</label>
        				</a>
        		</div>
        	  <div id="feature-mgmt" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="">

            <%= render partial: 'my_features' %>

        	  </div>
        	</div>

          <div class="panel panel-default">
        		<div class="panel-heading" role="tab" id="plan-selection-mgmt-header">
        				<a role="button" data-toggle="collapse" data-parent="#accordion" href="#plan-selection-mgmt" aria-expanded="true" aria-controls="plan-selection-mgmt">

        					<b>Plan Selection</b>
                  <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                  <span style='margin-left: 50px; font-size: 120%;'  id='show_plan_selected_count'>Plan count</span>
                <label class='btn btn-normal' id='reset_selected'> Reset Selections</label>

        				</a>
        		</div>
        	  <div id="plan-selection-mgmt" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="">

            	<%= render partial: 'my_plans' %>

        	  </div>
        	</div>
      <% end %>

      <% end %>

      <%if @qhps%>
        <div class="panel panel-default">
          <div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="compare_costs">
            <%=render "plan_comparision" , qhps: @qhps %>
          </div>
        </div>
      <%end%>

      <% if @quote_results %>
          <div class="panel panel-default">
            <div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="compare_benefits">
           <%=render "quote_comparision" , quote_results: @quote_results %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<script type="text/javascript">

$('.plan_selectors .criteria').on('click',function(){
                              selected=this; sibs = $(selected).siblings();
                              $.each(sibs, function(){ this.className='criteria' }) ;
                              selected.className='active';
                              console.log('selection triggered. plans available: ' + window.select_plans.length);
                            })

$(document).on('ready page:load', function () {
    if(window.matchMedia('handheld').match) {
      setTimeout(function(){
      //bootstrapslider labels will have zero width unless the sliders are initially visible before being hidden
        $('[aria-controls="quote-mgmt"]').attr('aria-expanded', false)
        $('#quote-mgmt').removeClass('in')
        $('[aria-controls="feature-mgmt"]').attr('aria-expanded', false)
        $('#feature-mgmt').removeClass('in')
        $('[aria-controls="plan-selection-mgmt"]').attr('aria-expanded', false)
        $('#plan-selection-mgmt').removeClass('in')
      }, 0)
    }
    window.select_plans = <%=raw @plan_quote_criteria %>
    var select_deductible = 0
    select_deductible = <%= @max_deductible %>
    deductible_value = select_deductible
    plan_count = window.select_plans.length
    $('.plan_selectors .criteria').on('click', function() {
      toggle_plans()
    })
    $('#reset_selected').on('click', function(){
      $.each($('.plan_buttons .btn.active input'), function(){
        $(this).prop('checked', false)
        $(this).parent().removeClass('active')
      })
      set_plan_counts()
      $('[aria-labelledby="compare_costs"]').html('')
      $('[aria-labelledby="compare_benefits"]').html('')
    })
    window.relationship_benefits = <%= raw @benefit_pcts_json %>
    window.roster_premiums = <%= raw @roster_premiums_json %>
    slider_listeners()
    toggle_plans()
})
</script>
