<div class="module container broker_quote_tool" id="inbox_provider_form">
  <div class="row">
    <div class="col-md-12">
        <h4>Compare Quotes</h4>

        <%= form_tag(broker_agencies_quotes_root_path, method: :get) do  %>

       <input name='employee' value='50' type='hidden'>
       <input name='spouse' value='0' type='hidden'>
       <input name='domestic_partner' value='0' type='hidden'>
       <input name='child_under_26' value='0' type='hidden'>
       <input name='child_26_and_over' value='0' type='hidden'>
       <%= hidden_field_tag(rb_emp: '777') %>

        <a data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
           <div class='well edge'> Resume quote or new roster
               <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
           </div>
        </a>
        <div class="collapse in" id="collapseExample">
            <%=render "my_quotes" , quote_results: @quote_results %>
        </div>
      
        <a data-toggle="collapse" href="#collapseExample1" aria-expanded="true" aria-controls="collapseExample1" >
            <div class='well edge'>Features and cost criteria
                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            </div>
        </a>
         <div class="collapse in" id="collapseExample1">
            <%= render partial: 'my_features' %>
         </div>

        <a data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2" >
            <div class='well edge'>Select plans
                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            </div>
        </a>
         <div class="collapse" id="collapseExample2">
                <%= render partial: 'my_plans' %>
         </div>

        <%= submit_tag "Compare Costs", class: 'btn btn-primary', id: 'QuoteCalculation' %>
        <%= submit_tag "Compare Plans", class: 'btn btn-primary', id: 'comparePlans' %>
        <%= submit_tag "Publish Quote", class: 'btn btn-primary', id: 'publishQuote' %>
        <% end %>
      </div>
    </div>
    <%if @qhps%>
        <%=render "plan_comparision" , qhps: @qhps %>
    <%end%>
    <% if @quote_results %>
       <%=render "quote_comparision" , quote_results: @quote_results %>
    <% end %>
</div>
<script type="text/javascript">
  var close_handler = function(){
    $.ajax({
        type: "POST",
        url: "/broker_agencies/quotes/" + this.getAttribute("data-quote-id"),
        dataType: "js",
        data: {"_method":"delete"},
        complete: function(){
          alert("Deleted successfully");
        }
    });
    this.parentElement.parentElement.remove();
    event.preventDefault();
  };
$('.table #close_button').click(close_handler);
$('.plan_selectors .criteria').on('click',function(){
                              selected=this; sibs = $(selected).siblings();
                              $.each(sibs, function(){ this.className='criteria' }) ;
                              selected.className='active'
                            })
$(document).on('ready page:load', function () {
    setTimeout(function(){
    //bootstrapslider labels will have zero width unless the sliders are initially visible before being hidden
      $('[aria-controls="collapseExample1"]').attr('aria-expanded', false)
      $('#collapseExample1').removeClass('in')
    }, 0)
    setTimeout(function(){
    //bootstrapslider labels will have zero width unless the sliders are initially visible before being hidden
      $('[aria-controls="collapseExample"]').attr('aria-expanded', false)
      $('#collapseExample').removeClass('in')
    }, 0)
    window.select_plans = <%=raw @plan_quote_criteria %>
    var select_deductible = 0
    select_deductible = <%= @max_deductible %>
    deductible_value = select_deductible
    plan_count = window.select_plans.length
    $('.plan_selectors .criteria').on('click', function() {
      toggle_plans()
    })
    window.relationship_benefits = <%= raw @benefit_pcts_json %>
    slider_listeners()
})
</script>