<div class="container" id="inbox_provider_form">
  <div class="row">
    <div class="col-md-12">
        <h4>Compare Quotes</h4>

        <%= form_tag(broker_agencies_quotes_root_path, method: :get) do  %>

       <input name='employee' value='50' type='hidden'>
       <input name='spouse' value='0' type='hidden'>
       <input name='domestic_partner' value='0' type='hidden'>
       <input name='child_under_26' value='0' type='hidden'>
       <input name='child_26_and_over' value='0' type='hidden'>
       <%= hidden_field_tag(rb_emp: '777') %>

        <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
           <div class='well' style='border: 2px solid gray'>

            <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></div>
        </a>
        <div class="collapse" id="collapseExample">
           <div class="well">

                <%=render "my_quotes" , quote_results: @quote_results %>
           </div>
        </div>

        <a data-toggle="collapse" href="#collapseExample1" aria-expanded="true" aria-controls="collapseExample1" >
            <div class='well' style='border: 2px solid gray'>Select plan features, benefits and costs
                <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            </div>
        </a>
         <div class="collapse in" id="collapseExample1">
              <div class="well">

                  <%= select_tag "quote", options_from_collection_for_select(@quotes, "id", "quote_name"), { } %>
                  <br/>
                  <%= render partial: 'select_plans' %>
                  <br/>
                  <%= render partial: 'benefit_sliders'%>

              </div>
         </div>


        <a data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2" >
            <div class='well' style='border: 2px solid gray'>Select plans
                <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            </div>
        </a>
         <div class="collapse" id="collapseExample2">
              <div class="well">

                <div>
                  <div class="btn-group" data-toggle="buttons" style='height: 400px; overflow-y: scroll'>
                    <% @plans.each_with_index do |p,index| %>

                    <label class="btn btn-small btn-primary <%= "active" if params['plans'].try(:include?, p.id.to_s) %>" >
                      <input name="plans[]" <%= "checked" if params['plans'].try(:include?, p.id.to_s) %> type="checkbox" autocomplete="off" value="<%= p.id %>"><%= p.name %>
                    </label>
                    <% end %>
                  </div>
                </div>

             </div>
         </div>

        <%= submit_tag "Compare Costs", class: 'btn btn-primary', id: 'QuoteCalculation' %>
        <%= submit_tag "Compare Plans", class: 'btn btn-primary', id: 'comparePlans' %>
        <% end %>


      </div>
  </div>
  <br>

  <%unless @qhps.blank? %>
    <%=render "plan_comparision" , qhps: @qhps %>
  <%end%>
  <br>
  <% if @quote_results %>

 <%=render "quote_comparision" , quote_results: @quote_results %>
  <% end %>

</div>
<script type="text/javascript">
  var close_handler = function(){
    $.ajax({
        type: "POST",
        url: "/broker_agencies/quotes/" + this.getAttribute("data-quote-id"),
        dataType: "js",
        data: {"_method":"delete"},
        complete: function(){
          alert("Deleted successfully");
        }
    });
    this.parentElement.parentElement.remove();
    event.preventDefault();
  };
$('.table #close_button').click(close_handler);
$('.plan_selectors .criteria').on('click',function(){
                              selected=this; sibs = $(selected).siblings();
                              $.each(sibs, function(){ this.className='criteria' }) ;
                              selected.className='active'
                            })
$(document).on('ready page:load', function () {
    setTimeout(function(){

      $('[aria-controls="collapseExample1"]').attr('aria-visible', true)
      $('#collapseExample1').removeClass('in')
    }, 0)
    window.select_plans = <%=raw @plan_quote_criteria %>
    var select_deductible = 0
    select_deductible = <%= @max_deductible %>
    deductible_value = select_deductible
    plan_count = window.select_plans.length
    $('.plan_selectors .criteria').on('click', function() {
      toggle_plans()
    })
    window.relationship_benefits = <%= raw @benefit_pcts_json %>
    slider_listeners()
     $('#pct_employee').bootstrapSlider('setValue',window.relationship_benefits['employee']);
     $('#pct_spouse').bootstrapSlider('setValue', window.relationship_benefits['spouse']);
     $('#pct_domestic_partner').bootstrapSlider('setValue', window.relationship_benefits['domestic_partner']);
     $('#under_26').bootstrapSlider('setValue', window.relationship_benefits['child_under_26']);
     $('#over_26').bootstrapSlider('setValue', window.relationship_benefits['child_26_and_over']);
})
</script>