<div class="module container broker_quote_tool">
  <div class="row" class="col-md-12">
         <input name='employee' value='50' type='hidden'>
         <input name='spouse' value='0' type='hidden'>
         <input name='domestic_partner' value='0' type='hidden'>
         <input name='child_under_26' value='0' type='hidden'>
        <p></p>
        <%= form_tag(broker_agencies_quotes_root_path, method: :get) do  %>

         <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
         	<div class="panel panel-default">
         		<div class="panel-heading" role="tab" id="quote-mgmt-header">
         				<a role="button" data-toggle="collapse" data-parent="#accordion" href="#quote-mgmt" aria-expanded="false" aria-controls="quote-mgmt">
         					<b>Quote/Roster Management</b>
                  <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>

         				</a>
         		</div>
         	  <div id="quote-mgmt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">

              <%=render "my_quotes" , quote_results: @quote_results %>

         	  </div>
         	</div>
          <br>
    <% if @quotes.count > 0 %>
        	<div class="panel panel-default">
        		<div class="panel-heading" role="tab" id="feature-mgmt-header">
        				<a role="button" data-toggle="collapse" data-parent="#accordion" href="#feature-mgmt" aria-expanded="true" aria-controls="feature-mgmt">

        					<b>Health Features and cost criteria</b>
                  <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                  <span style='margin-left: 50px; font-size: 120%;'  id='show_plan_criteria_count'>Plan count</span>
                   <label class='btn btn-normal hide' id='reset_criteria'> Reset Criteria</label>
        				</a>
        		</div>
        	  <div id="feature-mgmt" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="">
            <%= render partial: 'my_features' %>
        	  </div>
        	</div>

          <div class="panel panel-default">
        		<div class="panel-heading" role="tab" id="plan-selection-mgmt-header">
              <a role="button">
                  <div data-toggle="collapse" data-parent="#accordion" href="#plan-selection-mgmt"
                    aria-expanded="true" aria-controls="plan-selection-mgmt" style='display: inline; float_left'>
                      <b>Health Plan Selection</b>
                      <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                      <span style='margin-left: 50px; font-size: 120%;'  id='show_plan_selected_count'>Plan count</span>
                  </div>
              </a>
              <label class='btn btn-normal' id='reset_selected'> Reset Selections</label>
        		</div>
        	  <div id="plan-selection-mgmt" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="">

            	<%= render partial: 'my_plans' %>

              <div class="panel panel-default">
            <div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="compare_benefits"  id="plan_comparison_frame">
              <%= (render "quote_comparision" , quote_results: @quote_results) if @quote_results %>
            </div>
          </div>

        	  </div>
        	</div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="dental-feature-mgmt-header">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#dental-feature-mgmt" aria-expanded="false" aria-controls="dental-feature-mgmt">

                  <b>Dental Features and cost criteria</b>
                  <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                  <span style='margin-left: 50px; font-size: 120%;'  id='show_dental_plan_criteria_count'>Plan count</span>
                   <label class='btn btn-normal hide' id='reset_criteria'> Reset Criteria</label>
                </a>
            </div>
            <div id="dental-feature-mgmt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">

            <%= render partial: 'my_dental_features' %>

            </div>
          </div>
          
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="dental-plan-selection-mgmt-header">
              <a role="button">
                    <div data-toggle="collapse" data-parent="#accordion" href="#dental-plan-selection-mgmt"
                    aria-expanded="false" aria-controls="dental-plan-selection-mgmt" style='display: inline; float_left'>
                      <b>Dental Plan Selection</b>
                      <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                      <span style='margin-left: 50px; font-size: 120%;'  id='show_dental_plan_selected_count'>Plan count</span>
                    </div>
                  </a>
                <label class='btn btn-normal' id='reset_selected'> Reset Selections</label>
            </div>
            <div id="dental-plan-selection-mgmt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">

              <%= render partial: 'my_dental_plans' %>

            </div>
          </div>
        </div>
      <% end %>
      <% end %>

      <%= render partial: 'broker_agencies/quotes/panels/quote' %>
 
    </div>
  </div>
</div>


<script type="text/javascript">

$(document).on('ready page:load', function () {
    window.select_health_plans = <%=raw @health_plan_quote_criteria %>
    health_plan_count = Object.keys(window.select_health_plans).length
    deductible_value = 6000
    quote_change("<%= (@quote && @quote.id) || 'No quote' %>")
})
</script>
