<div class="container" id="inbox_provider_form">
  <div class="row">
    <div class="col-md-12">
      <h3>Compare Quotes</h3>
      <%= render partial: 'select_plans' %>

      <%@quotes.each do |q| %>

      <%= form_tag(broker_agencies_quotes_root_path, method: :get) do  %>
      <%= select_tag "quote", options_from_collection_for_select(@quotes, "id", "quote_name"), { } %>

      <div>
        <div class="btn-group" data-toggle="buttons" style='height: 400px; overflow-y: scroll'>
          <% @plans.each_with_index do |p,index| %>

          <label class="btn btn-small btn-primary <%= "active" if params['plans'].try(:include?, p.id.to_s) %>"
            data-behavior = <%="plan_quote_#{index}"%>    >
            <input name="plans[]" <%= "checked" if params['plans'].try(:include?, p.id.to_s) %> type="checkbox" autocomplete="off" value="<%= p.id %>"><%= p.name %>
          </label>
          <% end %>
        </div>
      </div>
      <br>
      <%= submit_tag "Submit", class: 'btn btn-primary', id: 'QuoteCalculation' %>
      <% end %>
    </div>
  </div>

  <br>

  <% if @quote_results %>

  <h3>Quote Results</h3>

  <div class="mygrid-wrapper-div">
    <table width="100%">
    <tr>
      <td colspan="2">&nbsp;</td>
    <%
    @quote_results.each do |qr| %>
      <td width="350" colspan="3" class="quote_detail_plan_header"><%= qr[0] %></td>
    <% end %>
    </tr>

    <tr style="font-weight: bolder; ">
      <td class="quote_detail_results_header">Name</td>
      <td class="quote_detail_results_header">Age</td>
      <% @quote_results.keys.each do |de| %>
        <td class="quote_detail_results_header">Employee Cost</td>
        <td class="quote_detail_results_header">Employer Contr</td>
        <td class="quote_detail_results_header">Premium</td>
      <% end %>
    </tr>
    <% @quote_results.first[1].flatten.each_with_index do |qr, index| %>
    <% #binding.pry
      if index != 0  && @quote_results.first[1].flatten[index][:family_id] != @quote_results.first[1].flatten[index-1][:family_id]
    %>
      <tr><td>&nbsp;</td></tr>
    <% end %>

      <tr>
        <td class="quote_detail_results">
          <%= qr[:first_name] %>
        </td>
        <td class="quote_detail_results">
          <%= qr[:age] %>
        </td>
        <% @quote_results.keys.each do |de| %>
          <td class="quote_detail_results"><%= @quote_results[de].flatten[index][:employee_cost] %></td>
          <td class="quote_detail_results"><%= @quote_results[de].flatten[index][:employee_contribution] %></td>
          <td class="quote_detail_results"><b><%= @quote_results[de].flatten[index][:total_premium].round(2) %></b></td>
        <% end %>
      </tr>
    <% end %>
      </table>
  </div>
  <% end %>

  <h3>My Quotes</h3>

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="table-responsive">
      <table class="table table-wrapper" style="opacity: 1;">
        <tr>
          <th>Quote ID</th>
          <th>Quote Name</th>
          <th></th>
        </tr>
         <% @quotes.each do |q| %>
        <tr>
           <td><%=link_to "#{q.id}" , "/broker_agencies/quotes/#{q.id}/edit" %></td>
           <td><%= q.quote_name %></td>
           <td><button type="button" id="close_button" data-quote-id="<%=q.id%>" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
        </tr>
        <% end %>
      </table>
      <br><%=link_to "New Quote" , new_broker_agencies_quote_path , method: :get, class: "btn btn-trans", id: "new_quote"%>
      <br>
</div>

<script type="text/javascript">
  var close_handler = function(){

    $.ajax({
        type: "POST",
        url: "/broker_agencies/quotes/" + this.getAttribute("data-quote-id"),
        dataType: "js",
        data: {"_method":"delete"},
        complete: function(){
          alert("Deleted successfully");
        }
    });
    this.parentElement.parentElement.remove(); 
    event.preventDefault();
  };

$('.table #close_button').click(close_handler);


function plan_test(plan, criteria){
  result = true
  critters = criteria.length
  for (var j=0; j< critters; j++){
    criteria_type = criteria[j][0]
    criteria_value = criteria[j][1]
    if ((criteria_type == 'carriers') && (criteria_value != plan[5]))   {result=false; break; }
    if ((criteria_type == 'metals') && (criteria_value != plan[0]))     {result=false; break; }
    if ((criteria_type == 'plan_types') && (criteria_value != plan[2])) {result=false; break; }
    if ((criteria_type == 'nationwide') && (criteria_value != String(plan[6]))) {result=false; break; }
    if ((criteria_type == 'dc_in_network') && (criteria_value != String(plan[7]))) {result=false; break; }
    console.log('hi', plan[3], deductible_value)
    if (plan[3] > deductible_value) {return false; break;}
  }
  return result
}
$('.plan_selectors .criteria').on('click',function(){
                              selected=this; sibs = $(selected).siblings();
                              $.each(sibs, function(){ this.className='criteria' }) ;
                              selected.className='active'
                            })

window.select_plans = <%=raw @plan_quote_criteria %>
select_deductible = <%= @max_deductible %>
deductible_value = select_deductible
plan_count = window.select_plans.length
$('.plan_selectors table').on('click', function() {
  window.criteria = []
  $.each($('.plan_selectors .active'), function() {
      criteria_type = this.parentNode.parentNode.id
      criteria_value = this.id
      if (criteria_value != 'any') {window.criteria.push([criteria_type,criteria_value])}
    })
  for(var i = 0; i < plan_count; i++) {
      plan = window.select_plans[i]
      value = "[value~=" + plan[4] + "]"
      display = plan_test(plan, window.criteria) ? 'inline' : 'none'
      $(value).parent().css('display', display)
  }
})
$('#ex1').bootstrapSlider({
  formatter: function(value) {
    return 'Current value: ' + value;
  }
});
$('#ex1').on('slideStop', function(){deductible_value = this.value; 
  $('.plan_selectors table').trigger('click')
  console.log(this.value)})
$('#ex2').bootstrapSlider({
  formatter: function(value) {
    return 'Current value: ' + value;
  }
});

</script>
