<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Quotes</h3>
      <%
      @quotes.each do |q| %>

      <br><%= q.quote_name %>

      <% end %>

      <br>
          <%= params.inspect %>
      <br>

      <%= form_tag(root_broker_agencies_quotes_path, method: :get) do  %>
      <%= hidden_field_tag 'quote', @quotes.first.id.to_s %>
      <% #select_tag "plans[]", options_from_collection_for_select(@plans, "id", "name"), {id: 'broker_agency_plan_selection',  multiple: "multiple", class: "floatlabel form-control interaction-field-control-broker-agency-languages-spoken" } %>

      <div>
        <div class="btn-group" data-toggle="buttons">
          <% @plans.each do |p| %>

          <label class="btn btn-sm btn-primary <%= "active" if params['plans'].try(:include?, p.id.to_s) %>">
            <input name="plans[]" <%= "checked" if params['plans'].try(:include?, p.id.to_s) %> type="checkbox" autocomplete="off" value="<%= p.id %>"><%= p.name %>
          </label>
          <% end %>
        </div>
      </div>

      <br>
      <%= submit_tag "Submit", class: 'btn btn-primary', id: 'waiver_reason_submit' %>
      <% end %>
    </div>
  </div>

  <br>


  <% if @quote_results %>

  <div class="mygrid-wrapper-div">
    <table width="100%">
    <tr>
      <td colspan="2">&nbsp;</td>
    <%
    @quote_results.each do |qr| %>
      <td width="250" colspan="3" class="quote_detail_plan_header"><%= qr[0] %></td>
    <% end %>
    </tr>

    <tr style="font-weight: bolder; ">
      <td class="quote_detail_results_header">Name</td>
      <td class="quote_detail_results_header">Age</td>
      <% @quote_results.keys.each do |de| %>
        <td class="quote_detail_results_header">Employee Cost</td>
        <td class="quote_detail_results_header">Employer Contr</td>
        <td class="quote_detail_results_header">Premium</td>
      <% end %>
    </tr>
    <% @quote_results.first[1].flatten.each_with_index do |qr, index| %>
    <% #binding.pry
      if index != 0  && @quote_results.first[1].flatten[index][:family_id] != @quote_results.first[1].flatten[index-1][:family_id]
    %>
      <tr><td>&nbsp;</td></tr>
    <% end %>

      <tr>
        <td class="quote_detail_results">
          <%= qr[:first_name] %>
        </td>
        <td class="quote_detail_results">
          <%= qr[:age] %>
        </td>
        <% @quote_results.keys.each do |de| %>
          <td class="quote_detail_results"><%= @quote_results[de].flatten[index][:employee_cost] %></td>
          <td class="quote_detail_results"><%= @quote_results[de].flatten[index][:employee_contribution] %></td>
          <td class="quote_detail_results"><b><%= @quote_results[de].flatten[index][:total_premium].round(2) %></b></td>
        <% end %>
      </tr>
    <% end %>
      </table>
  </div>
  <% end %>

</div>



<script type="text/javascript">

/*function applyMultiPlanSelect() {
  $('#broker_agency_plan_selection').multiselect({
    nonSelectedText: 'Select Plans',
    maxHeight: 400
  });
  $('#broker_agency_plan_selection').multiselect('select', 'en', true);
  $('#broker_agency_plan_selection').on('selectric-init', function(element){
    $('.selectric-interaction-field-control-broker-agency-languages-spoken').hide();
  });
};


  $(function() {
    applyMultiPlanSelect();
  });*/
</script>
