<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Quotes</h3>

      <%@quotes.each do |q| %>

      <br><%= q.quote_name %>
      <table>
       <tr>
         <td>Quote ID</td>

       </tr>
       <% @quotes.each do |q| %>
       <tr>
         <td><br><%= q.id %></td>
      </tr>
      <% end %>
    </table>
      <br><%=link_to "New Quote" , new_broker_agencies_quotes_path , class: "btn btn-trans"  %>
      <br>

      <%= form_tag(broker_agencies_quotes_root_path, method: :get) do  %>
      <%= select_tag "quote", options_from_collection_for_select(@quotes, "id", "quote_name"), { } %>

      <div>
        <div class="btn-group" data-toggle="buttons">
          <% @plans.each do |p| %>

          <label class="btn btn-sm btn-primary <%= "active" if params['plans'].try(:include?, p.id.to_s) %>">
            <input name="plans[]" <%= "checked" if params['plans'].try(:include?, p.id.to_s) %> type="checkbox" autocomplete="off" value="<%= p.id %>"><%= p.name %>
          </label>
          <% end %>
        </div>
      </div>
      <br>
      <%= submit_tag "Submit", class: 'btn btn-primary', id: 'waiver_reason_submit' %>
      <% end %>

      <br>
          <%= params.inspect %>
      <br>

      <%= form_tag(root_broker_agencies_quotes_path, method: :get) do  %>
      <%= hidden_field_tag 'quote', @quotes.first.id.to_s %>
      <% #select_tag "plans[]", options_from_collection_for_select(@plans, "id", "name"), {id: 'broker_agency_plan_selection',  multiple: "multiple", class: "floatlabel form-control interaction-field-control-broker-agency-languages-spoken" } %>

      <div>
        <div class="btn-group" data-toggle="buttons">
          <% @plans.each do |p| %>

          <label class="btn btn-sm btn-primary <%= "active" if params['plans'].try(:include?, p.id.to_s) %>">
            <input name="plans[]" <%= "checked" if params['plans'].try(:include?, p.id.to_s) %> type="checkbox" autocomplete="off" value="<%= p.id %>"><%= p.name %>
          </label>
          <% end %>
        </div>
      </div>

      <br>
      <%= submit_tag "Submit", class: 'btn btn-primary', id: 'waiver_reason_submit' %>
      <% end %>
    </div>
  </div>

  <br>

  <% if @quote_results %>

  <h3>Quote Results</h3>

  <div class="mygrid-wrapper-div">
    <table width="100%">
    <tr>
      <td colspan="2">&nbsp;</td>
    <%
    @quote_results.each do |qr| %>
      <td width="350" colspan="3" class="quote_detail_plan_header"><%= qr[0] %></td>
    <% end %>
    </tr>

    <tr style="font-weight: bolder; ">
      <td class="quote_detail_results_header">Name</td>
      <td class="quote_detail_results_header">Age</td>
      <% @quote_results.keys.each do |de| %>
        <td class="quote_detail_results_header">Employee Cost</td>
        <td class="quote_detail_results_header">Employer Contr</td>
        <td class="quote_detail_results_header">Premium</td>
      <% end %>
    </tr>
    <% @quote_results.first[1].flatten.each_with_index do |qr, index| %>
    <% #binding.pry
      if index != 0  && @quote_results.first[1].flatten[index][:family_id] != @quote_results.first[1].flatten[index-1][:family_id]
    %>
      <tr><td>&nbsp;</td></tr>
    <% end %>

      <tr>
        <td class="quote_detail_results">
          <%= qr[:first_name] %>
        </td>
        <td class="quote_detail_results">
          <%= qr[:age] %>
        </td>
        <% @quote_results.keys.each do |de| %>
          <td class="quote_detail_results"><%= @quote_results[de].flatten[index][:employee_cost] %></td>
          <td class="quote_detail_results"><%= @quote_results[de].flatten[index][:employee_contribution] %></td>
          <td class="quote_detail_results"><b><%= @quote_results[de].flatten[index][:total_premium].round(2) %></b></td>

        <% end %>
      </tr>
    <% end %>
      </table>
  </div>
  <% end %>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="table-responsive">
      <table class="table table-wrapper" style="opacity: 1;">
        <tr>
          <th>Quote ID</th>
          <th>Quote Name</th>
          <th></th>
        </tr>
         <% @quotes.each do |q| %>
        <tr>
           <td><%=link_to "#{q.id}" , "/broker_agencies/quotes/#{q.id}" %></td>
           <td><%= q.quote_name %></td>
           <td><button type="button" id="close_button" data-quote-id="<%=q.id%>" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
        </tr>
        <% end %>
      </table>
      <br><%=link_to "New Quote" , new_broker_agencies_quote_path , method: :get, class: "btn btn-trans", id: "new_quote"%>
      <br>
</div>



<script type="text/javascript">
  var close_handler = function(){
    $.ajax({
        type: "POST",
        url: "/broker_agencies/quotes/" + this.getAttribute("data-quote-id"),
        dataType: "js",
        data: {"_method":"delete"},
        complete: function(){
          alert("Deleted successfully");
        }
    });
    this.parentElement.parentElement.remove(); 
    event.preventDefault();
  };

$('.table #close_button').click(close_handler);

</script>
