
<div class="container">
	<hr/>
	<%= link_to 'Upload Employee Roster' , upload_employee_roster_broker_agencies_quotes_path , class: "btn btn-trans" , remote: true  ,id: "upload_employees" %> <br>

	<%= form_for Quote.new, url: {action: "create"}, metion: "post" , class: "form-inline" do |f| %>
	<hr/>

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false" >
	<hr/>
		<div class="row">
			<%=label_tag 'Name of the Quote'%> <%=f.text_field :quote_name %>				
			<%= link_to 'New Household' , new_household_broker_agencies_quotes_path , class: "btn btn-trans" , remote: true  %> 	
		</div>
	<hr/>
	<%=render "quote_household_fields" , f: f %>
	<hr/>
	<input type="button" onclick="history.back();" class="btn btn-trans" value="Back">
	<input type="submit" class= "btn btn-trans" value="Save Quote" id="submit"/>
	<% end %>
</div>
