
<h3>Publish Action for </h3>

<p>
Quote: <br/>
"<%=@quote.quote_name %>"
<br/>
Quote Id: <br>
<%=@quote.id %> <br><br>
Relationship Benefits: <br>
<% @quote.quote_relationship_benefits.each do|rb| %>
	&nbsp;&nbsp;&nbsp; <%=rb.relationship.humanize%>,
	Benefit <%= rb.premium_pct %>%
	<br>
<% end %>



<br><br>

Reference Plan: <br/>
"<%= @plan.name %>"" <br>

</p>

<p>  Elected Plan Option: <br/>
<%= @elected_plan_choice %> </p>
<br><br>
Cost String: <br>
<%=@cost %>


<p>Below is your Employer's Plan offering Spectrum. Your offerings are based on <%= @offering_param %> <%= @elected_plan_choice %><br><br>
<% @plans_offered.each do |p|  %>
		<%= p["employer_cost"] %> - <%= p["employee_cost"] %>
		<% if p["plan_id"] == @plan.id.to_s %>
			<b><u><%= p["plan_name"] %></u></b>
		<% else %>
			<%= p["plan_name"]%>
		<% end %>
		<br>
<% end %>
</p>
