<div class="module container broker_quote_tool">
  <div class="row">
    <div class="col-md-12">


<h3>Review: Publish your Quote</h3>

<p>Please review the information below before publishing your quote. Once the quote is published, no information can be changed.</p>


<p>Quote: "<%=@quote.quote_name %>" effective <b><%=@quote.start_on %></b></p>


<p>Below is your Employer's Plan offering Spectrum. Your offerings are based on <%= @offering_param %> <%= @elected_plan_choice %>.</p>

<p>Costs are based on the roster associated with this quote of <b><%= @quote.quote_households.count %></b> families and the following percentage contributions.</p>

<% @quote.quote_relationship_benefits.each do|rb| %>
<%=rb.relationship.humanize%> - <%= rb.premium_pct %>%<br>
<% end %>

<br>

<p>Actual costs may vary.</p>

<%= form_tag("/broker_agencies/quotes/publish_quote", method: "post") do %>
  <%= hidden_field_tag(:id, @quote.id) %>
  <%= hidden_field_tag(:reference_plan_id, @plan.id.to_s) %>
  <%= hidden_field_tag(:plan_option_kind, @elected_plan_choice) %>
  <%= submit_tag "Publish Quote", class: 'btn btn-primary' %>
<% end %>


<br>

<p>Your reference plan is highlighted below.</p>

	<table class="quote_publish_table">
		<th>
			<tr>
				<td class="quote_detail_plan_header">Employer Cost</td>
				<td class="quote_detail_plan_header">Employee Cost</td>
				<td class="quote_detail_plan_header">Plan Name</td>
				<td class="quote_detail_plan_header">Metal Level</td>
			</tr>
		</th>
		<tbody>
<% @plans_offered.each do |p|  %>
			<tr <% if p["plan_id"] == @plan.id.to_s %> class="reference_plan_row" <% end %>>
					<td class="quote_detail_results text-center">$<%= p["employer_cost"] %></td>
					<td class="quote_detail_results text-center">$<%= p["employee_cost"] %></td>
					<td class="quote_detail_results text-center"><%= p["plan_name"] %></td>
          <td class="quote_detail_results text-center">XXX</td>
			</tr>
<% end %>
	</tbody>
</table>

		</div>
	</div>
</div>
