	
	<div class="container">
	  <hr/>
	  <div class="row">
	  <%=form_tag broker_agencies_quotes_path , :method => "post" do %>
	    <%= csrf_meta_tags %>
	  	<%=label_tag 'Name of the Quote'%> <%= text_field_tag name="quote_name" , value="New_quote_#{DateTime.now().strftime("%Y%m%d%H%M%S")}"%> <br>
	  	<hr/>
	    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	      <div class="table-responsive">
	        <table class="table table-wrapper" style="opacity: 1;">
	        <thead>
	          <tr>
	            <th>Family ID</th>
	            <th>Relationship</th>
	            <th>DOB</th>
	            <th></th>
	          </tr>
	        </thead>
	        <tbody id="table-body">
	          <% if @employee_roster
	             @employee_roster.each_with_index do |employee,index|%>
	            <tr>
	              <td><%=text_field_tag("employee_roster[#{index}][family_id]" , employee.family_id, id: "family_id")%></td>
	              <td><select name="employee_roster[#{index}][employee_relationship]" id="relationship" class="form-control">
	                <%= options_for_select(['Employee', 'Spouse', 'Domestic partner',
	                  'Child'], employee.employee_relationship) %></select></td>
	              <td><%=text_field_tag("employee_roster[#{index}][dob]" , employee.dob ,id: "datepicker-#{index}")%></td>
	            </tr>
	            <%end%>
	          <%end%>
	        </tbody>
	        </table>
	      </div>
	    </div>
	    <br>
	    </div>
	    <hr/>
	    <div class="row">
	    <input type="submit" class="btn btn-trans" value="Save Quote"/>
	  	</div>
	  	</div>
	  <%end%>
	  <hr/>
	</div>

	<script type="text/javascript">
	var counter = 1;
	var close_handler = function(){
	    $(this).parent().parent().remove();
	  };

	var date_handler = function() {
	    $(this).datepicker();
	    $(this).datepicker("show");
	  };
	</script>