<% plan_year = employer.employer_profile.latest_plan_year %>
<% census_employees = plan_year.find_census_employees %>
<% enrolled = plan_year.try(:enrolled).try(:count).to_i %>
<% eligible_to_enroll_count = census_employees.try(:active).try(:count).to_i %>
<% waived = census_employees.try(:waived).try(:count).to_i %>

<% row_data = capture do %>
	<span class="for-remote" data-employer-id="<%= employer._id %>"></span>
<% end %>

{
"fein": "<%= json_escape employer.fein %>",
"legal_name": <%= raw (link_to employer.legal_name, employers_employer_profile_path(employer.employer_profile)).to_json %>,
"conversion": "<%= raw (employer.employer_profile.is_conversion?).to_json %>",
"status": "<%= raw employer.employer_profile.aasm_state.humanize %>",
"effective_date" : "<%= raw employer.employer_profile.latest_plan_year.effective_date %>",
"invoiced" : "<%= raw employer.current_month_invoice.present? %>",
"enrolled_waived" : "<%= raw enrolled %>/<%= raw waived %>",
"pending" : "<%= eligible_to_enroll_count - enrolled.to_i %>",
"eligible" : "<%= eligible_to_enroll_count %>",
"percentage" : "<%= ((enrolled / eligible_to_enroll_count * 100).to_i rescue 0) %>",
"row_data" : <%= raw row_data.to_json %>
}
