[
<% employee_info = capture do %>
	<span class="name">
		<%= census_employee.full_name.try(:titleize) %>
	</span>
	<br>
	<span>
		DOB: <%= format_date census_employee.dob %>
	</span>
	<br>
	<span>
		SSN: <%= (number_to_obscured_ssn census_employee.ssn) %>
	</span>
	<br>
	<span>
		HIRED: <%= format_date census_employee.hired_on %>
	</span>
<% end %>
"<%= employee_info.to_json %>",

<% benefit_group = capture do %>
	<span class="benefit-group">
		<%= enrollment.benefit_group.title.try(:titleize) %>
	</span>
<% end %>
"<%= benefit_group.to_json %>",

<% enrollment_info = capture do %>
<span>
	<span class="coverage-kind"><%= mixed_case(enrollment.coverage_kind) %></span> | # Covered: <%= enrollment.humanized_dependent_summary %>
</span>
<br/>
<span>
	<%= enrollment.plan.carrier_profile.legal_name %> -- <%= enrollment.plan.name %>
</span>
<br/>
<% end %>
"<%= enrollment_info.to_json %>",

<% contribution_info = capture do %>
	<span>
		Employer Contribution: <%= number_to_currency enrollment.total_employer_contribution %>
	</span>
	<br/>
	<span>
		Employee Contribution: <%= number_to_currency enrollment.total_employee_cost %>
	</span>
	<br/>
	<strong>Total:</strong> <%= number_to_currency enrollment.total_premium %></td>
<% end %>
"<%= contribution_info.to_json %>",
]
