<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title></title>
  <style></style>
</head>

<body>
  <table border="1" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tr>
      <td align="center" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="600" id="emailContainer">
          <tr>
            <td>
              <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                  <td align="center" valign="top" bgcolor="#ffffff">
                    <table border="0" cellpadding="20" cellspacing="0" width="100%" background="<%= root_url %>/images/email/abcStateHealthPlan-01.png" style="background-repeat: no-repeat; background-size: 50%; background-position: 0 10px;" id="emailHeader">
                      <tr>
                        <td align="right" valign="top">
                          <span class="h1" style="text-align: center; font-family: sans-serif; font-size: 20px; letter-spacing: -0.55px; color: #3C8EB2; color: rgb(60, 142, 178);">Well done! You've successfully<br/>enrolled for benefits.</span>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table border="0" cellpadding="0" height="470" cellspacing="0" width="100%" id="emailBody" background="<%= root_url %>/images/email/personHoldingPhone_abc_1024_810.png" style="background-size: cover; background-repeat: none;">
                <tr>
                  <td align="center" valign="top" width="50%" class="templateColumnContainer">
                    <table border="0" cellpadding="20" cellspacing="0" width="100%">
                      <tr>
                        <td class="leftColumnContent">
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td align="center" valign="top" width="50%" class="templateColumnContainer">
                    <table border="0" cellpadding="20" cellspacing="0" width="100%">
                      <tr>
                        <td valign="top" class="rightColumnContent">
                          <span style="color: #ffffff; font-family: sans-serif; font-size: 24px; text-align: right; display: block;">
                            Now you can get them at your fingertips
                          </span>
                          <br/>
                          <a href="https://projects.invisionapp.com/share/3X4DRJKKN#/screens/155653386_AccenturetunesStoreMockup" class="cch-button action" style="-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .25); -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .25); box-shadow: 0 0 6px rgba(0, 0, 0, .25); transition: background-color 300ms ease-out; border-style: solid; border-width: 0; font-family: sans-serif; font-weight: 400; line-height: normal; margin: 0 auto .625rem; position: relative; text-align: center; text-decoration: none; display: block; width: 200px; padding: .5rem; border-radius: 6px; font-size: 1.25rem; cursor: pointer; background-color: #f69422; border: 3px solid #f69422; color: #fff;">
                            Download The App
                          </a>
                          <br/>
                          <img src="<%= root_url %>/images/email/appStoryIcon-01.png" alt="Download our app on Apple's App Store" style="margin: auto; display: block; width: 50%;">
                          <br/>
                          <img src="<%= root_url %>/images/email/appStoryIcon-02.png" alt="Download our app on Google Play" style="margin: 10px auto; display: block; width: 50%;">
                          <br/>
                          <span style="color: #ffffff; font-family: sans-serif; font-size: 24px; text-align: right; display: block;">
                            Or use our website
                          </span>
                          <br/>
                          <a href="https://projects.invisionapp.com/share/3X4DRJKKN#/screens/116619715" class="cch-button action action-trans" style="-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .25); -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .25); box-shadow: 0 0 6px rgba(0, 0, 0, .25); transition: background-color 300ms ease-out; border-style: solid; border-width: 0; font-family: sans-serif; font-weight: 400; line-height: normal; margin: 0 auto .625rem; position: relative; text-align: center; text-decoration: none; display: block; width: 200px; padding: .5rem; border-radius: 6px; font-size: 1.25rem; cursor: pointer; width:50%; background-color: #f69422; border: 3px solid #f69422; color: #fff; background-color: #fff; color: #f69422; border: 3px solid #f69422;">
                            Website
                          </a>
                          <br/>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                  <td align="center" valign="top" width="33%" class="templateColumnContainer" bgcolor="#ffffff">
                    <table border="0" cellpadding="20" cellspacing="0" width="100%">
                      <tr>
                        <td class="leftColumnContent">
                          <img src="<%= root_url %>/images/email/navIcon-01.png" alt="Get the benefits you need" width="50" style="display: block; margin: auto; margin-top: -60px;">
                          <br/>
                          <span class="h2" style="font-family: sans-serif; font-size: 20px; color: #012639; color: rgb(1, 38, 57); display: block; text-align: center;">
                            Easy
                          </span>
                          <p class="p1" style="font-family: sans-serif; font-size: 12px; color: #000000; text-align: center; ">
                            Get the benefits you need and the relevant phone numbers and websites instantly and intuitively via the resources page
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td align="center" valign="top" width="33%" class="templateColumnContainer" bgcolor="#ffffff">
                    <table border="0" cellpadding="20" cellspacing="0" width="100%">
                      <tr>
                        <td valign="top" class="rightColumnContent">
                          <img src="<%= root_url %>/images/email/navIcon-02.png" alt="Receive helpful information related to your benefits" width="50" style="display: block; margin: auto; margin-top: -60px;">
                          <br/>
                          <span class="h2" style="font-family: sans-serif; font-size: 20px; color: #012639; color: rgb(1, 38, 57); display: block; text-align: center;">
                            Smart
                          </span>
                          <p class="p1" style="font-family: sans-serif; font-size: 12px; color: #000000; text-align: center; ">
                            Receive helpful information related to your benefits through personalized notifications
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td align="center" valign="top" width="33%" class="templateColumnContainer" bgcolor="#ffffff">
                    <table border="0" cellpadding="20" cellspacing="0" width="100%">
                      <tr>
                        <td valign="top" class="rightColumnContent">
                          <img src="<%= root_url %>/images/email/navIcon-03.png" alt="Access virtual medical, pharmacy, dental, and vision ID cards" width="50" style="display: block; margin: auto; margin-top: -60px;">
                          <br/>
                          <span class="h2" style="font-family: sans-serif; font-size: 20px; color: #012639; color: rgb(1, 38, 57); display: block; text-align: center;">
                            Convenient
                          </span>
                          <p class="p1" style="font-family: sans-serif; font-size: 12px; color: #000000; text-align: center; ">
                            Access virtual medical, pharmacy, dental, and vision ID cards
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center" valign="top">
              <table border="0" cellpadding="50" cellspacing="0" width="100%" id="emailFooter" bgcolor="#ffffff" style="padding: 20px;">
                <tr>
                  <td align="center" valign="top" background="<%= root_url %>/images/email/ribbonBanner-03.png" style="background-size: cover;">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
<style>
  .cch-button {
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    transition: background-color 300ms ease-out;
    border-style: solid;
    border-width: 0;
    font-family: sans-serif;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 .625rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1.125rem 0 1.1875rem;
    width: 100%;
    border-radius: 6px;
    font-size: 1.25rem;
    cursor: pointer;
  }
  .action {
    background-color: #f69422;
    border: 3px solid #f69422;
    color: #fff;
  }
  .action-trans {
    background-color: #fff;
    color: #f69422;
    border: 3px solid #f69422;
  }
  .h1 {
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: -0.55px;
    color: #3C8EB2;
    color: rgb(60, 142, 178);
  }
  .h2 {
    font-family: sans-serif;
    font-size: 20px;
    color: #012639;
    color: rgb(1, 38, 57);
  }
  .h3 {
    font-family: sans-serif;
    font-size: 28px;
    color: #FFFFFF;
  }
  .p1 {
    font-family: sans-serif;
    font-size: 12px;
    color: #000000;
  }
  .a1 {
    font-family: sans-serif;
    font-size: 12px;
    color: #009FE3;
    color: rgb(0, 159, 227);
  }
  .main {
    background: #FFFFFF;
    box-shadow: 0px -0.68px 5.35px rgba(2, 2, 2, 0.15);
  }
  .bannerText {
    font-family: sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
  }
</style>

</html>
