<div class="modal-body">
  <div id="printArea">
    <h1> Choose Plan - Compare Selected Plans </h1>
    <h4> Each plan is different. Make sure you understand the differences so you can find the right plan to meet your needs and budget. </h4>
    <%= render "shared/plan_shoppings/more_plan_details" %>
    <table class="table bordered compare-table", border = "1", style="font-size:11px;" >
      <tr>
        <th class="row-title">Plans</th>

        <% qhps.each do |qhp|%>
          <th colspan="2" style="text-align: center; vertical-align:middle; border: none; padding: 0;">
            <%= display_carrier_logo(qhp.plan.carrier_profile.organization.legal_name, {width: 80}) %>
        </th>
        <% end %>
      </tr>
      <tr>
        <th style="vertical-align: middle;">
          <div class="key">
            <div class="col-xs-12">
              <div class="row">
                <span class="ball green"></span>
                <label>Premium</label>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="row">
                <span class="ball"></span>
                <label>Estimated Out of Pocket</label>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="row">
                <span class="ball red"></span>
                <label>Maximum Cost</label>
              </div>
            </div>
          </div>
        </th>
          <% maximums = [] %>
          <% qhps.each do |qhp|%>
            <% @plans[0..2].each_with_index do |plan, i| %>
              <% csv = Products::QhpCostShareVariance.find_qhp_cost_share_variances(["#{qhp.plan.hios_id}"], @hbx_enrollment.effective_on.year, @hbx_enrollment.coverage_kind).first %>
              <% moop = csv.qhp_maximum_out_of_pockets.where(name: "Maximum Out of Pocket for Medical and Drug EHB Benefits (Total)").last %>
              <% premium = current_cost(qhp[:total_employee_cost]*12, qhp.plan.ehb, nil, 'shopping', qhp.plan.can_use_aptc?) %>
              <% likely = premium*@multiplyer %>
              <% if @person.primary_family.active_family_members.count > 1 %>
              <% maximum = moop.in_network_tier_1_individual_amount.gsub(/[$,]/, '').to_f + premium %>
              <% else %>
              <% maximum = moop.in_network_tier_1_family_amount.gsub(/[$,]/, '').to_f + premium %>
              <% end %>
              <% maximums << maximum %>
            <% end %>
          <% end %>

          <% maximums = maximums.sort_by(&:to_i).reverse %>
          <% qhps.each do |qhp|%>
            <th colspan="2" style="text-align: center; vertical-align:middle; border: none;">
              <div>
                <% csv = Products::QhpCostShareVariance.find_qhp_cost_share_variances(["#{qhp.plan.hios_id}"], @hbx_enrollment.effective_on.year, @hbx_enrollment.coverage_kind).first %>
                <% moop = csv.qhp_maximum_out_of_pockets.where(name: "Maximum Out of Pocket for Medical and Drug EHB Benefits (Total)").last %>
                <% premium = current_cost(qhp[:total_employee_cost]*12, qhp.plan.ehb, nil, 'shopping', qhp.plan.can_use_aptc?) %>
                <% likely = premium*@multiplyer %>
                <% if @person.primary_family.active_family_members.count > 1 %>
                <% maximum = moop.in_network_tier_1_individual_amount.gsub(/[$,]/, '').to_f + premium %>
                <% else %>
                <% maximum = moop.in_network_tier_1_family_amount.gsub(/[$,]/, '').to_f + premium %>
                <% end %>
                <% total = maximums.first %>

                <% premium_percentage = (premium/total) * 100 %>
                <% likely_percentage = (likely/total)*100 %>
                <% maximum_percentage = (maximum/total)*100 %>

                <% likely_percentage = likely_percentage >= maximum_percentage ? maximum_percentage - premium_percentage : likely_percentage %>

                <div class="graph">
                  <div class="progress progress-bar-vertical">
                    <div class="progress-bar progress-bar-warning progress-bar-striped" style="height: <%= (likely_percentage.floor) %>%" data-toggle="tooltip" title="Estimated Out-of-Pocket: The amount you’re likely to spend on medical services this year based on the health information you gave us.">
                      <%= number_to_currency((likely-premium), precision: 0) %>
                    </div>
                    <div class="progress-bar progress-bar-success progress-bar-striped" style="height: <%= premium_percentage.floor %>%" data-toggle="tooltip" title="Premium: Your 12 monthly payments.">
                      <%= number_to_currency(premium, precision: 0) %>
                    </div>


                </div>
                <div class="progress progress-bar-vertical">
                  <div class="progress-bar progress-bar-danger progress-bar-striped" style="height: <%= maximum_percentage.floor %>%" data-toggle="tooltip" title="Maximum Cost: The most you could pay in a year. Your annual premium plus you’re the highest possible out of pocket cost for your insurance plan.">
                    <%= number_to_currency(maximum, precision: 0) %>
                  </div>
                </div>
              </div>
              <br class="clear"/><br/>
            </div>
          </th>
          <% end %>
      </tr>
      <tr>
        <th>
        </th>
        <% qhps.each do |qhp|%>
          <th colspan="2" style="text-align: center; vertical-align:middle; border: none; padding: 0;" class="ttc fourteen blue"><%= qhp.plan.name %></th>
        <% end %>
      </tr>
      <tr>
        <th></th>
        <% qhps.each do |qhp|%>
          <th class="fourteen lg" colspan="2" style="text-align: center; vertical-align:middle; border: none; padding: 0;"><span class="<%= qhp.plan.metal_level.humanize.downcase %>-icon"><%= display_dental_metal_level qhp.plan %></span> &nbsp;&#149;&nbsp;
          <%= qhp.plan.plan_type.upcase %>
          </th>
        <% end %>
      </tr>
      <tr>
        <th>Your Monthly Premium Cost</th>
        <% qhps.each do |qhp|%>
        <% premium = current_cost(qhp[:total_employee_cost], qhp.plan.ehb, nil, 'shopping', qhp.plan.can_use_aptc?) %>
          <th colspan="2" class="row-title" style="text-align: center; vertical-align:middle; border: none; padding: 0;"><%=number_to_currency(premium) %>/month</th>
        <% end %>
      </tr>

      <tr>
        <th></th>
        <% qhps.each do |qhp|%>
          <th colspan="2" style="text-align: center; verticle-align: center; border: none; padding: 15px 0 25px;">
            <%= render partial: "shared/plan_shoppings/select_plan_button", locals: { plan: qhp.plan } %>
          </th>
        <% end %>
      </tr>
      <tr>
        <th>Provider Network</th>
        <% qhps.each do |qhp|%>
          <th colspan="2"><%= qhp.plan.nationwide ? "Nationwide" : "DC-Metro" %></th>
        <% end %>
      </tr>

      <% if qhps.map(&:plan).map(&:nationwide).compact.uniq.include?(true) %>
        <tr>
          <th></th>
          <% qhps.each do |qhp|%>
            <th colspan="2">
              <% if qhp.plan.nationwide %>
                <%= link_to "PROVIDER DIRECTORY", qhp.plan.provider_directory_url, target: "_blank" %>
              <% end %>
            </th>
          <% end %>
        </tr>
      <% end %>

      <% if qhps.map(&:plan).map(&:rx_formulary_url).compact.present? %>
        <tr>
          <th></th>
          <% qhps.each do |qhp|%>
            <th colspan="2">
              <% if qhp.plan.coverage_kind == "health" && qhp.plan.rx_formulary_url.present? %>
                <%= link_to "RX FORMULARY URL", qhp.plan.rx_formulary_url, target: "_blank" %>
              <% end %>
            </th>
          <% end %>
        </tr>
      <% end %>

      <% if @coverage_kind == "health" %>
        <tr>
          <th>PLAN BENEFITS <br> (In Network)</th>
          <% qhps.each do |qhp|%>
            <th colspan="1"> CO-PAY </th>
            <th colspan="1"> COINSURANCE </th>
          <% end %>
        </tr>
        <%= render partial: "shared/plan_shoppings/plan_visit_types" %>
      <% end %>
      <tr>
        <th></th>
        <% qhps.each do |qhp|%>
          <th colspan="2">
            <div class="plan_comparison">
              <%= render partial: "shared/plan_shoppings/sbc_link", locals: { plan: qhp.plan } %>
            </div>
          </th>
        <% end %>
      </tr>
      <% if @coverage_kind == "health" %>
        <tr>
          <th></th>
          <% qhps.each do |qhp|%>
            <th colspan="2">
              <%= render partial: "shared/plan_shoppings/select_plan_button", locals: { plan: qhp.plan } %>
            </th>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="modal-footer" style="border-top: none;">
  <button type="button" class="btn btn-default btn-trans" id='btnPrint'>Print</button>
  <% if @coverage_kind == "health" %>
    <%= link_to "Download", comparison_products_plans_path(market_kind: @market_kind, coverage_kind: @coverage_kind, standard_component_ids: @standard_component_ids, hbx_enrollment_id: @hbx_enrollment_id, active_year: @active_year, format: :csv), class: "btn btn-trans" %>
  <% end %>
  <button type="button" class="btn  btn-default btn-trans" data-dismiss="modal">Close</button>
</div>
