<div class="module home-tab content-bottom">
  <h1>My Health Benefits Program</h1>
  <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>$170,750</td>
            </tr>
            <tr>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td>66</td>
                <td>2009/01/12</td>
                <td>$86,000</td>
            </tr>
            <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>2012/03/29</td>
                <td>$433,060</td>
            </tr>
            <tr>
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>33</td>
                <td>2008/11/28</td>
                <td>$162,700</td>
            </tr>
            <tr>
                <td>Brielle Williamson</td>
                <td>Integration Specialist</td>
                <td>New York</td>
                <td>61</td>
                <td>2012/12/02</td>
                <td>$372,000</td>
            </tr>
            <tr>
                <td>Herrod Chandler</td>
                <td>Sales Assistant</td>
                <td>San Francisco</td>
                <td>59</td>
                <td>2012/08/06</td>
                <td>$137,500</td>
            </tr>
            <tr>
                <td>Rhona Davidson</td>
                <td>Integration Specialist</td>
                <td>Tokyo</td>
                <td>55</td>
                <td>2010/10/14</td>
                <td>$327,900</td>
            </tr>
            <tr>
                <td>Colleen Hurst</td>
                <td>Javascript Developer</td>
                <td>San Francisco</td>
                <td>39</td>
                <td>2009/09/15</td>
                <td>$205,500</td>
            </tr>
            <tr>
                <td>Sonya Frost</td>
                <td>Software Engineer</td>
                <td>Edinburgh</td>
                <td>23</td>
                <td>2008/12/13</td>
                <td>$103,600</td>
            </tr>
            <tr>
                <td>Jena Gaines</td>
                <td>Office Manager</td>
                <td>London</td>
                <td>30</td>
                <td>2008/12/19</td>
                <td>$90,560</td>
            </tr>
            <tr>
                <td>Quinn Flynn</td>
                <td>Support Lead</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>2013/03/03</td>
                <td>$342,000</td>
            </tr>
            <tr>
                <td>Charde Marshall</td>
                <td>Regional Director</td>
                <td>San Francisco</td>
                <td>36</td>
                <td>2008/10/16</td>
                <td>$470,600</td>
            </tr>
            <tr>
                <td>Haley Kennedy</td>
                <td>Senior Marketing Designer</td>
                <td>London</td>
                <td>43</td>
                <td>2012/12/18</td>
                <td>$313,500</td>
            </tr>
            <tr>
                <td>Tatyana Fitzpatrick</td>
                <td>Regional Director</td>
                <td>London</td>
                <td>19</td>
                <td>2010/03/17</td>
                <td>$385,750</td>
            </tr>
            <tr>
                <td>Michael Silva</td>
                <td>Marketing Designer</td>
                <td>London</td>
                <td>66</td>
                <td>2012/11/27</td>
                <td>$198,500</td>
            </tr>
            <tr>
                <td>Paul Byrd</td>
                <td>Chief Financial Officer (CFO)</td>
                <td>New York</td>
                <td>64</td>
                <td>2010/06/09</td>
                <td>$725,000</td>
            </tr>
            <tr>
                <td>Gloria Little</td>
                <td>Systems Administrator</td>
                <td>New York</td>
                <td>59</td>
                <td>2009/04/10</td>
                <td>$237,500</td>
            </tr>
            <tr>
                <td>Bradley Greer</td>
                <td>Software Engineer</td>
                <td>London</td>
                <td>41</td>
                <td>2012/10/13</td>
                <td>$132,000</td>
            </tr>
            <tr>
                <td>Dai Rios</td>
                <td>Personnel Lead</td>
                <td>Edinburgh</td>
                <td>35</td>
                <td>2012/09/26</td>
                <td>$217,500</td>
            </tr>
            <tr>
                <td>Jenette Caldwell</td>
                <td>Development Lead</td>
                <td>New York</td>
                <td>30</td>
                <td>2011/09/03</td>
                <td>$345,000</td>
            </tr>
            <tr>
                <td>Yuri Berry</td>
                <td>Chief Marketing Officer (CMO)</td>
                <td>New York</td>
                <td>40</td>
                <td>2009/06/25</td>
                <td>$675,000</td>
            </tr>
            <tr>
                <td>Caesar Vance</td>
                <td>Pre-Sales Support</td>
                <td>New York</td>
                <td>21</td>
                <td>2011/12/12</td>
                <td>$106,450</td>
            </tr>
            <tr>
                <td>Doris Wilder</td>
                <td>Sales Assistant</td>
                <td>Sidney</td>
                <td>23</td>
                <td>2010/09/20</td>
                <td>$85,600</td>
            </tr>
            <tr>
                <td>Angelica Ramos</td>
                <td>Chief Executive Officer (CEO)</td>
                <td>London</td>
                <td>47</td>
                <td>2009/10/09</td>
                <td>$1,200,000</td>
            </tr>
            <tr>
                <td>Gavin Joyce</td>
                <td>Developer</td>
                <td>Edinburgh</td>
                <td>42</td>
                <td>2010/12/22</td>
                <td>$92,575</td>
            </tr>
            <tr>
                <td>Jennifer Chang</td>
                <td>Regional Director</td>
                <td>Singapore</td>
                <td>28</td>
                <td>2010/11/14</td>
                <td>$357,650</td>
            </tr>
            <tr>
                <td>Brenden Wagner</td>
                <td>Software Engineer</td>
                <td>San Francisco</td>
                <td>28</td>
                <td>2011/06/07</td>
                <td>$206,850</td>
            </tr>
            <tr>
                <td>Fiona Green</td>
                <td>Chief Operating Officer (COO)</td>
                <td>San Francisco</td>
                <td>48</td>
                <td>2010/03/11</td>
                <td>$850,000</td>
            </tr>
            <tr>
                <td>Shou Itou</td>
                <td>Regional Marketing</td>
                <td>Tokyo</td>
                <td>20</td>
                <td>2011/08/14</td>
                <td>$163,000</td>
            </tr>
            <tr>
                <td>Michelle House</td>
                <td>Integration Specialist</td>
                <td>Sidney</td>
                <td>37</td>
                <td>2011/06/02</td>
                <td>$95,400</td>
            </tr>
            <tr>
                <td>Suki Burks</td>
                <td>Developer</td>
                <td>London</td>
                <td>53</td>
                <td>2009/10/22</td>
                <td>$114,500</td>
            </tr>
            <tr>
                <td>Prescott Bartlett</td>
                <td>Technical Author</td>
                <td>London</td>
                <td>27</td>
                <td>2011/05/07</td>
                <td>$145,000</td>
            </tr>
            <tr>
                <td>Gavin Cortez</td>
                <td>Team Leader</td>
                <td>San Francisco</td>
                <td>22</td>
                <td>2008/10/26</td>
                <td>$235,500</td>
            </tr>
            <tr>
                <td>Martena Mccray</td>
                <td>Post-Sales support</td>
                <td>Edinburgh</td>
                <td>46</td>
                <td>2011/03/09</td>
                <td>$324,050</td>
            </tr>
            <tr>
                <td>Unity Butler</td>
                <td>Marketing Designer</td>
                <td>San Francisco</td>
                <td>47</td>
                <td>2009/12/09</td>
                <td>$85,675</td>
            </tr>
            <tr>
                <td>Howard Hatfield</td>
                <td>Office Manager</td>
                <td>San Francisco</td>
                <td>51</td>
                <td>2008/12/16</td>
                <td>$164,500</td>
            </tr>
            <tr>
                <td>Hope Fuentes</td>
                <td>Secretary</td>
                <td>San Francisco</td>
                <td>41</td>
                <td>2010/02/12</td>
                <td>$109,850</td>
            </tr>
            <tr>
                <td>Vivian Harrell</td>
                <td>Financial Controller</td>
                <td>San Francisco</td>
                <td>62</td>
                <td>2009/02/14</td>
                <td>$452,500</td>
            </tr>
            <tr>
                <td>Timothy Mooney</td>
                <td>Office Manager</td>
                <td>London</td>
                <td>37</td>
                <td>2008/12/11</td>
                <td>$136,200</td>
            </tr>
            <tr>
                <td>Jackson Bradshaw</td>
                <td>Director</td>
                <td>New York</td>
                <td>65</td>
                <td>2008/09/26</td>
                <td>$645,750</td>
            </tr>
            <tr>
                <td>Olivia Liang</td>
                <td>Support Engineer</td>
                <td>Singapore</td>
                <td>64</td>
                <td>2011/02/03</td>
                <td>$234,500</td>
            </tr>
            <tr>
                <td>Bruno Nash</td>
                <td>Software Engineer</td>
                <td>London</td>
                <td>38</td>
                <td>2011/05/03</td>
                <td>$163,500</td>
            </tr>
            <tr>
                <td>Sakura Yamamoto</td>
                <td>Support Engineer</td>
                <td>Tokyo</td>
                <td>37</td>
                <td>2009/08/19</td>
                <td>$139,575</td>
            </tr>
            <tr>
                <td>Thor Walton</td>
                <td>Developer</td>
                <td>New York</td>
                <td>61</td>
                <td>2013/08/11</td>
                <td>$98,540</td>
            </tr>
            <tr>
                <td>Finn Camacho</td>
                <td>Support Engineer</td>
                <td>San Francisco</td>
                <td>47</td>
                <td>2009/07/07</td>
                <td>$87,500</td>
            </tr>
            <tr>
                <td>Serge Baldwin</td>
                <td>Data Coordinator</td>
                <td>Singapore</td>
                <td>64</td>
                <td>2012/04/09</td>
                <td>$138,575</td>
            </tr>
            <tr>
                <td>Zenaida Frank</td>
                <td>Software Engineer</td>
                <td>New York</td>
                <td>63</td>
                <td>2010/01/04</td>
                <td>$125,250</td>
            </tr>
            <tr>
                <td>Zorita Serrano</td>
                <td>Software Engineer</td>
                <td>San Francisco</td>
                <td>56</td>
                <td>2012/06/01</td>
                <td>$115,000</td>
            </tr>
            <tr>
                <td>Jennifer Acosta</td>
                <td>Junior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>43</td>
                <td>2013/02/01</td>
                <td>$75,650</td>
            </tr>
            <tr>
                <td>Cara Stevens</td>
                <td>Sales Assistant</td>
                <td>New York</td>
                <td>46</td>
                <td>2011/12/06</td>
                <td>$145,600</td>
            </tr>
            <tr>
                <td>Hermione Butler</td>
                <td>Regional Director</td>
                <td>London</td>
                <td>47</td>
                <td>2011/03/21</td>
                <td>$356,250</td>
            </tr>
            <tr>
                <td>Lael Greer</td>
                <td>Systems Administrator</td>
                <td>London</td>
                <td>21</td>
                <td>2009/02/27</td>
                <td>$103,500</td>
            </tr>
            <tr>
                <td>Jonas Alexander</td>
                <td>Developer</td>
                <td>San Francisco</td>
                <td>30</td>
                <td>2010/07/14</td>
                <td>$86,500</td>
            </tr>
            <tr>
                <td>Shad Decker</td>
                <td>Regional Director</td>
                <td>Edinburgh</td>
                <td>51</td>
                <td>2008/11/13</td>
                <td>$183,000</td>
            </tr>
            <tr>
                <td>Michael Bruce</td>
                <td>Javascript Developer</td>
                <td>Singapore</td>
                <td>29</td>
                <td>2011/06/27</td>
                <td>$183,000</td>
            </tr>
            <tr>
                <td>Donna Snider</td>
                <td>Customer Support</td>
                <td>New York</td>
                <td>27</td>
                <td>2011/01/25</td>
                <td>$112,000</td>
            </tr>
        </tbody>
    </table>
  <% if @current_plan_year.present? %>
<!--<div class="panel panel-default alert" id="panelOne">
    <h3 class="panel-heading">Important Messages
      <a class="close" data-dismiss="alert"><i class="fa fa-times"></i></a>
    </h3>
    <ul class="panel-body alert-warning" role="alert">
      <li>
        <span></span>
      </li>
      <li>
        <span>If you need help, call the small business support team at 1-855-532-5465 (Monday - Friday 8:00 AM - 5:30 PM). We're here to help.</span>
      </li>
    </ul>
  </div>
-->
<% end %>
<div class="col-md-8">
  <div class="row">
    <% if @current_plan_year.present? %>
    <div class="panel panel-default alert" id="panelOne">
      <div class="panel-heading">
        <h3>Employee Enrollments and Waivers
          <% if @current_plan_year.start_on.to_date.month != 1 %>
            <i class="fa fa-question-circle" data-toggle="tooltip" title="At least 66 percent of your eligible employees must enroll or waive coverage during the open enrollment period in order to establish your Health Benefits Program. One of your enrollees must also be a non-owner"></i>
          <% end %>
        </h3>


            <!-- OLD PROGRESS BAR
            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="45" class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" style="width: 45%">
              <span class="sr-only">45% Complete</span>
            </div>
          -->
          <%= render 'employers/employer_profiles/my_account/enrollment_progress_bar' %>

        <div class="information">
          <strong><%=  @current_plan_year.total_enrolled_count %></strong> out of <strong><%= @current_plan_year.eligible_to_enroll_count %></strong> have enrolled or waived coverage<br/>
          <% if @current_plan_year.start_on.to_date.month != 1 %>
            <% if TimeKeeper.date_of_record.to_date <= @current_plan_year.open_enrollment_end_on.to_date %>
              <strong><%= @current_plan_year.additional_required_participants_count.to_i %></strong> or more needed by <%= @current_plan_year.open_enrollment_end_on.to_date.to_formatted_s :long_ordinal %> to meet minimum requirement
            <% end %>
          <% end %>
        </div>
      </div>
      <% if @current_plan_year.total_enrolled_count != @current_plan_year.eligible_to_enroll_count %>
        <p class="panel-body alert-warning" role="alert">
          <i class="fa fa-flag"></i>
          <span>
            <strong>Important: </strong>You have until <%= @current_plan_year.open_enrollment_end_on.to_date.to_formatted_s :long_ordinal %> for your employees to sign up, or waive coverage.
          </span>
          <!-- <a class="close" data-dismiss="alert"><i class="fa fa-times"></i></a> -->
        </p>
        <% end %>
    </div>
    <div class="benefit-group panel panel-default myplanyear plan-year col-xs-12">
      <div class="panel-heading">
        <h3 class="title no-buffer">Plan Year</h3>
      </div>
      <table>
        <tr>
          <td>
            <header>Enrollment Period</header>
          </td>
          <td>
            <p>
              <%= @current_plan_year.open_enrollment_start_on.to_date.to_formatted_s :long_ordinal %> - <%= @current_plan_year.open_enrollment_end_on.to_date.to_formatted_s :long_ordinal %>
            </p>
          </td>
          <td>
            <h3>
              Status
            </h3>
          </td>
        </tr>
        <tr>
          <td>
            <header>Coverage Year</header>
          </td>
          <td>
            <p>
              <%= @current_plan_year.start_on.to_date.to_formatted_s :long_ordinal %> - <%= @current_plan_year.end_on.to_date.to_formatted_s :long_ordinal %>
            </p>
          </td>
          <td>
            <h3>
              <%= @current_plan_year.aasm_state.humanize %>
            </h3>
          </td>
        </tr>
      </table>
    </div>
    <% @current_plan_year.benefit_groups.each do |bg| %>
    <div class="benefit-packages">
    <div class="panel benefitgroup benefit-group col-xs-12">
      <section class="col-xs-10">
        <header class="row">
          <h3 class="title no-buffer"><%= bg.title.capitalize %></h3>
          <% if bg.description.present? %>
          <h5 class="description no-buffer"><%= bg.description %></h5>
          <% end %>
        </header>
      </section>
      <table>
        <tr>
          <td>
            <header>Eligibility</header>
          </td>
          <td>
            <p>
              <% if bg.effective_on_offset == 0 %>
                First of the month following or coinciding with date of hire
              <% elsif bg.effective_on_offset == 1 %>
                First of the month following date of hire
              <% else %>
                <%= "#{bg.effective_on_kind.humanize} following #{bg.effective_on_offset} days" %>
              <% end %>
            </p>
          </td>
        </tr>
      </table>

    </div>


    <div class="plan-details panel benefitgroup benefit-group col-xs-12" style="display: true;">

        <div class="panel benefitgroup referenceplan home">

          <!--Health Plan Summary: start-->
          <div class="health">
            <div style="float:right">
              <button id = "showhidebutton" href="#collapse-health-<%=bg.id%>" class="nav-toggle">
                View Details
                <a><i class="fa fa-chevron-down fa-lg"></i></a>
              </button>
            </div>
            <div style="float:left">
              <% if bg.dental_reference_plan_id.present? %>
                <h5 class="title no-buffer">Health</h5>
              <% end%>
            </div>
          </div>
          <br/>


          <table>
            <tr>
              <th>
                <header>Reference Plan</header>
              </th>
              <th>
                <header>Carrier</header>
              </th>
              <th>
                <header>Type</header>
              </th>
            </tr>
            <tr>
              <td>
                <p>
                  <%= bg.reference_plan.name.try(:upcase) %>
                </p>
              </td>
              <td>
                <p>
                  <%= bg.reference_plan.carrier_profile.legal_name %>
                </p>
              </td>
              <td>
                <p>
                  <%= bg.try(:reference_plan).try(:plan_type).try(:upcase) %>
                </p>
              </td>
            </tr>
            <tr>
              <th>
                <header>Metal Level</header>
              </th>
              <th>
                <header>Plans By</header>
              </th>
            </tr>
            <tr>
              <td>
                <p>
                  <%= bg.reference_plan.metal_level.titleize %>
                </p>
              </td>
              <td>
                <p>
                  <% if bg.plan_option_kind == "single_carrier" %>
                  All Plans From A Single Carrier
                  <% elsif bg.plan_option_kind == "metal_level" %>
                  All Plans From A Given Metal Level
                  <% elsif bg.plan_option_kind == "single_plan" %>
                  A Single Plan
                  <% end %>
                </p>
              </td>
            </tr>
          </table>
          <!--Health Plan Summary: end-->

          <!--Health plan collapsible: start -->
          <div id="collapse-health-<%=bg.id%>" style="display:none">

              <!--Health Contributions: start-->
              <div class="col-xs-12 package-offering">
              <table>
                <tr>
                  <th>Offered</th>
                  <th>Employer <% if bg.dental_reference_plan_id.present? %>Health <% end %>Contribution</th>
                </tr>
                <% bg.relationship_benefits.each_with_index do |rb, i| %>
                <tr>
                  <td><%= rb.offered ? raw("<i class='fa fa-check-square-o fa-lg'></i>") : raw("<i class='fa fa-square-o fa-lg'></i>") %><%= rb.relationship.try(:humanize) %></td>
                  <td><strong><%= number_to_percentage rb.premium_pct.try(:ceil), precision: 0 %></strong></td>
                </tr>
                <% end %>
              </table>
              </div>
              <!--Health Contributions: end-->

              <!--Health Estimated Cost: start-->
              <div class="panel benefitgroup col-xs-12 referenceplan home est">
                <div class="plan-details">
                  <div class="col-xs-4">
                    <div class="row">
                      <span>Employer Estimated Maximum Monthly Cost</span>
                      <h2><%= number_to_currency(bg.monthly_employer_contribution_amount) %></h2>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="row">
                      <table>
                        <tr>
                          <th colspan="2"></th>
                          <th>Min</th>
                          <th>Max</th>
                        </tr>
                        <tr>
                          <td colspan="2">Total Estimated Monthly Cost for Plan Participants</td>
                          <td><%= number_to_currency(bg.monthly_min_employee_cost) %></td>
                          <td><%= number_to_currency(bg.monthly_max_employee_cost) %></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!--Health Estimated Cost: end-->

          </div>
          <!--Health plan collapsible: end -->


        <% if bg.dental_reference_plan_id.present? %>
        <hr class="clear"/>
          <!--Dental Plan Summary: start-->
          <div>
            <div style="float:right">
              <button id = "showhidebutton" href="#collapse-dental-<%=bg.id%>" class="nav-toggle">
                  View Details
                  <a><i class="fa fa-chevron-down fa-lg"></i></a>
              </button>
            </div>
            <div style="float:left">
              <h5 class="title no-buffer">Dental</h5>
            </div>
          </div>
          <br/>

          <div></div>

          <table>
            <tr>
              <th>
                <header>Reference Plan</header>
              </th>
              <th>
                <header>Carrier</header>
              </th>
              <th>
                <header>Type</header>
              </th>
            </tr>
            <tr>
              <td>
                <p>
                  <%= bg.dental_reference_plan.name %>
                </p>
              </td>
              <td>
                <p>
                  <%= bg.dental_reference_plan.carrier_profile.legal_name %>
                </p>
              </td>
              <td>
                <p>
                  <%= bg.dental_reference_plan.plan_type.to_s.upcase %>
                </p>
              </td>
            </tr>
            <tr>
              <th>
                <header>Metal Level</header>
              </th>
              <th>
                <header>Plans By</header>
              </th>
            </tr>
            <tr>
              <td>
                <p>
                  <%= display_dental_metal_level bg.dental_reference_plan %>
                </p>
              </td>
              <td>
                <p>
                  <% if bg.dental_plan_option_kind == "single_carrier" %>
                  All Plans From A Single Carrier
                  <% elsif bg.dental_plan_option_kind == "single_plan" %>
                    <% if bg.elected_dental_plan_ids.count < 13 %>
                      Custom (<%= bg.elected_dental_plans.count %> Plans)
                      <br/>
                      <%= link_to "View Plans", "", data: {toggle: "modal", target: "#electedDentalPlans_#{bg.id}"} %>

                    <% else %>
                      All Plans
                    <% end %>
                  <% end %>
                </p>
              </td>
            </tr>
          </table>
          <!--Dental Plan Summary: end-->

          <!—Dental plan collapsible: start -->
          <div id="collapse-dental-<%=bg.id%>" style="display:none">

            <!--Dental Contributions: start -->
            <div class="col-xs-12 package-offering">
              <table>
                <tr>
                  <th>Offered</th>
                  <th>Employer Dental Contribution</th>
                </tr>
                <% bg.relationship_benefits.each_with_index do |rb, i| %>
                <tr>
                  <td><%= bg.dental_relationship_benefits[i].offered ? raw("<i class='fa fa-check-square-o fa-lg'></i>") : raw("<i class='fa fa-square-o fa-lg'></i>") %><%= bg.dental_relationship_benefits[i].relationship.try(:humanize) %></td>
                  <td><strong><%= number_to_percentage bg.dental_relationship_benefits[i].premium_pct.try(:ceil), precision: 0 %></strong></td>
                </tr>
                <% end %>
              </table>
            </div>
            <!--Dental Contributions: end -->

            <!--Dental Estimated Cost: start-->
            <div class="panel benefitgroup col-xs-12 referenceplan home est">
              <div class="plan-details">
                <div class="col-xs-4">
                  <div class="row">
                    <span>Employer Estimated Maximum Monthly Cost</span>
                    <h2><%= number_to_currency(bg.monthly_employer_contribution_amount(bg.dental_reference_plan)) %></h2>
                  </div>
                </div>
                <div class="col-xs-8">
                  <div class="row">
                    <table>
                      <tr>
                        <th colspan="2"></th>
                        <th>Min</th>
                        <th>Max</th>
                      </tr>
                      <tr>
                        <td colspan="2">Total Estimated Monthly Cost for Plan Participants</td>
                        <td><%= number_to_currency(bg.monthly_min_employee_cost('dental')) %></td>
                        <td><%= number_to_currency(bg.monthly_max_employee_cost('dental')) %></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!--Dental Estimated Cost: end-->

          </div>
          <!--Dental plan collapsible: end -->


          <% if bg.elected_dental_plan_ids.count < 13 && bg.elected_dental_plan_ids.count > 1 %>
            <%= render partial: 'shared/custom_dental_offered_plans_modal', locals: { bg: bg } %>
          <% end %>

    <% end %>
    </div>  <!--end of div with class="panel benefitgroup referenceplan home"-->
    </div>  <!--end of div with class="plan-details panel benefitgroup col-xs-12"-->
  </div>
    <% end %>
    <% else %>
    <%= render partial: 'employers/employer_profiles/my_account/employer_welcome' %>
    <% end %>
  </div>
</div>
