<div class="container signin top-pd module">
    <div class="row">
        <div class="col-md-4 col-sm-3 col-xs-1"></div>
        <div class="col-md-4 col-sm-6 col-xs-10">
            <h1>Sign In</h1>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'input-no-pd'}) do |f| %>
                <div class="form-group required">
                    <%= f.label :username %>
                    <%= f.text_field :login, autofocus: true, class: "form-control" %>
                  </div>

                  <div class="form-group required">
                      <%= f.label :password %>
                      <%= link_to "Forgot password?", new_password_path(resource_name), class: "pull-right" %>
                      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                    </div>

                    <% if devise_mapping.rememberable? -%>
                      <div class="form-group">
                          <%= f.check_box :remember_me %>
                          <%= f.label :remember_me %>
                      </div>
                    <% end -%>

                    <div class="actions">
                        <%= f.submit "Sign in", class: "btn btn-primary btn-lg btn-danger width-100 sm_full_width" %>
                      </div><br>
                      <%= render "devise/shared/links" %>
                    <% end %>
                </div>
                <div class="col-md-4 col-sm-3 col-xs-1"></div>
            </div>
        </div>
