  <script type="text/javascript">
    $(function () { 
        $('#dashboard_chart_1').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
              text: "<%= @title %>"
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
               minTickInterval: 1,
                title: {
                    text: 'Count'
                }
            },
            legend: {
              enabled: false
            },
            series: [{
              name: 'Date',
              colorByPoint: true,
              data: <%= raw @reports_for_chart.to_json %>
            }],
        });
    });
    $(function () { 
      $('#dashboard_chart_2').highcharts({
        chart: {
          type: 'bar'
        },
        title: {
          text: "<%= @title %>"
        },
        xAxis: {
          type: 'category'
        },
        yAxis: {
          minTickInterval: 1,
          title: {
            text: 'Count'
          }
        },
        legend: {
          enabled: false
        },
        series: [{
          name: 'Date',
          colorByPoint: true,
          data: <%= raw @reports_for_chart.to_json %>
        }],
        drilldown: {
          series: <%= raw @reports_for_drilldown.to_json %>
        }
      });
    });
  </script>
  
  <div class="row ">
    <div class="col-xs-6 col-sm-3 col-md-6">
      <div id="dashboard_chart_1" style: "height:400px"> </div>
      <h4>Enrollments</h4>
      <span class="text-muted">
        <%= link_to '1D', report_dashboards_path(type:'Day'), remote: true %>
        | 
        <%= link_to '1W', report_dashboards_path(type:'Week'), remote: true %>
        | 
        <%= link_to '1M', report_dashboards_path(type:'Month'), remote: true %>
        | 
        <%= link_to '1Y', report_dashboards_path(type:'Year'), remote: true %>
      </span>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-6">
      <div id="dashboard_chart_2" style: "height:400px"> </div>
      <h4>System</h4>
      <span class="text-muted">1D | 1W | 1M | 1Y </span>
    </div>
  </div>

  <h2 class="sub-header">Detail</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>site</th>
          <th>topic</th>
          <th>title</th>
          <th>amount</th>
        </tr>
      </thead>
      <tbody>
        <% @reports.each do |report| %>
          <tr>
            <td><%= report.date %></td>
            <td><%= report.site %></td>
            <td><%= report.topic.humanize %></td>
            <td><%= report.title %></td>
            <td><%= report.amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
