  <script type="text/javascript">
    $(function () { 
        $('#dashboard_chart_1').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
              text: "<%= @title %>"
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
               minTickInterval: 1,
                title: {
                    text: 'Count'
                }
            },
            legend: {
              enabled: false
            },
            series: [{
              name: 'Date',
              colorByPoint: true,
              data: <%= raw @reports_for_chart.to_json %>
            }],
        });
    });
  </script>
  
  <div class="row ">
    <div class="col-xs-6 col-sm-3 col-md-6">
      <div id="dashboard_chart_1" style: "height:400px"> </div>
      <h4>Enrollments</h4>
      <span class="text-muted">
        <%= link_to '1D', report_dashboards_path(type:'Day'), remote: true %>
        | 
        <%= link_to '1W', report_dashboards_path(type:'Week'), remote: true %>
        | 
        <%= link_to '1M', report_dashboards_path(type:'Month'), remote: true %>
        | 
        <%= link_to '1Y', report_dashboards_path(type:'Year'), remote: true %>
      </span>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-6" id='chart_2'>
      <%= hidden_field_tag 'begin_on', @begin_on.to_s %>
      <div id="dashboard_chart_2" style: "height:400px"> </div>
      <h4>System</h4>
      <span class="text-muted">1D | 1W | 1M | 1Y </span>
      <script type="text/javascript">
        $(function () { 
          $('#dashboard_chart_2').highcharts({
            chart: {
              type: 'bar'
            },
            title: {
              text: "<%= @title %>"
            },
            xAxis: {
              categories: <%= raw @reports_for_drilldown_options.to_json %>
            },
            yAxis: {
              minTickInterval: 1,
              title: {
                text: 'Count'
              }
            },
            legend: {
              enabled: false
            },
            series: <%= raw @reports_for_drilldown.to_json %>,
            plotOptions: {
              series: {
                cursor: 'pointer',
                point: {
                  events: {
                    click: function () {
                      console.log('Category: ' + this.category + ', value: ' + this.y + ', name: ' + this.series.name);
                      var send_data = {date: this.category, current: $("input#begin_on").val()};
                      console.log(send_data);
                      $.ajax({
                        type: 'GET',
                        url: '<%= drilldown_dashboards_path %>',
                        data: send_data,
                      })
                    }
                  }
                }
              }
            },
          });
        });
      </script>
    </div>
  </div>

  <h2 class="sub-header">Detail</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>subject</th>
          <th>title</th>
          <th>amount</th>
        </tr>
      </thead>
      <tbody>
        <% @reports.each do |report| %>
          <tr>
            <td><%= report.date %></td>
            <td><%= report.subject.humanize %></td>
            <td><%= report.title %></td>
            <td><%= report.amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


<div id="policy_chart" style: "height:400px"> </div>
<script type="text/javascript">
  $(function () { 
    $('#policy_chart').highcharts({
      chart: {
        type: 'column'
      },
      title: {
        text: "<%= @title_for_policy %>"
      },
      //subtitle: {
      //  text: 'As of 4/30/2016'
      //},
      xAxis: {
        categories: <%= raw @reports_for_policy_options.to_json %>,
        title: {text: 'Household Size'}
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Policy Count'
        }
      },
      series: <%= raw @reports_for_policy.to_json %>,
    });
  });
</script>
