<div class="modal fade" id="howPlanShoppingWorksModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body center-block col-xs-6 dn">
        <h3 class="text-center">How plan costs work</h3>
        <% csv = Products::QhpCostShareVariance.find_qhp_cost_share_variances(["#{@plan.hios_id}"], @hbx_enrollment.effective_on.year, @hbx_enrollment.coverage_kind).first %>
        <% moop = csv.qhp_maximum_out_of_pockets.where(name: "Maximum Out of Pocket for Medical and Drug EHB Benefits (Total)").last %>
        <% premium = (current_cost(@plan.total_employee_cost*12, @plan.ehb, nil, 'shopping', @plan.can_use_aptc?)) %>
        <% likely = premium*@multiplyer %>
        <% if @person.primary_family.active_family_members.count > 1 %>
        <% maximum = moop.in_network_tier_1_individual_amount.gsub(/[$,]/, '').to_f + premium %>
        <% else %>
        <% maximum = moop.in_network_tier_1_family_amount.gsub(/[$,]/, '').to_f + premium %>
        <% end %>
        <% total = maximum %>

        <% premium_percentage = (premium / total) * 100 %>
        <% likely_percentage = ((likely - premium)/total)*100 %>
        <% maximum_percentage = (maximum/total)*100 %>
        <% likely_percentage = likely_percentage + premium_percentage >= maximum_percentage ? maximum_percentage - premium_percentage : likely_percentage %>

        <% premium_percentage = premium_percentage.round %>
        <% likely_percentage = (likely_percentage.round) - 0.125 %>
        <% maximum_percentage = maximum_percentage.round %>
        <div class="graph">
          <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" data-toggle="tooltip" style="width: 0%;" title="Premium: Your 12 monthly payments">
              <%= number_to_currency(premium, precision: 0) %>
            </div>
            <div class="dn progress-bar progress-bar-warning progress-bar-striped" data-toggle="tooltip" style="width: 0%;"
              title="Estimated Out-of-Pocket: The amount you’re likely to spend on medical services this year based on the health information you gave us">
              <%= number_to_currency((likely-premium), precision: 0) %>
            </div>
          </div>
          <div class="dn progress progress-max">
            <div class="progress-bar progress-bar-danger progress-bar-striped active" data-toggle="tooltip" style="width: 0%"
              title="The most you could pay in a year. Your annual premium plus the highest possible out of pocket cost for your insurance plan.">
              <%= number_to_currency(maximum, precision: 0) %>
            </div>
          </div>
        </div>
        <div class="premium-text fade">
          <h4>
            <strong>
              Premium:
            </strong>
            The amount you must pay for insurance each month, even if you don’t go to the doctor.
          </h4>
        </div>
        <div class="estimated-out-of-pocket-text fade dn">
          <h4>
            <strong>
              Estimated Ouf Of Pocket:
            </strong>
            The amount you’re likely to spend on medical services this year based on the health information you gave us.
          </h4>
        </div>
        <div class="maximum-cost-text fade dn">
          <h4>
            <strong>
              Worst Case:
            </strong>
            The most you could pay in a year. Your annual premium plus the highest possible out of pocket cost for your insurance plan.
          </h4>
        </div>
        <div>
          <div class="continue premium fade">
            <br/>
            <div class="row">
              <span class="btn btn-trans btn-small col-xs-6 col-xs-offset-3">
                Got It
              </span>
            </div>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('#howPlanShoppingWorksModal').on('shown.bs.modal', function () {
      $('#howPlanShoppingWorksModal .modal-body').slideDown(400, function () {
        var $modal = $(this).closest('.modal');
        $modal.find('.premium-text').animate({
          opacity: 1
        }, 1250, function () {
          $('#howPlanShoppingWorksModal .modal-body .continue.premium.fade').animate({
            opacity: 1
          }, 400);
          $('.continue.premium.fade').on('click', function () {
            $('#howPlanShoppingWorksModal .modal-body .continue.premium.fade').animate({
              opacity: 0
            }, 400);
            $modal.find('.progress-bar-warning').show();
            $modal.find('.progress-bar-success').removeClass('active');
            $modal.find('.premium-text').hide();
            $modal.find('.estimated-out-of-pocket-text').show();
            $modal.find('.estimated-out-of-pocket-text').animate({
              opacity: 1
            }, 1250);
            $('#howPlanShoppingWorksModal .modal-body .continue.premium.fade').addClass('estimated-out-of-pocket');
            $('#howPlanShoppingWorksModal .modal-body .continue.premium.fade.estimated-out-of-pocket').removeClass('premium');
            $('#howPlanShoppingWorksModal .modal-body .continue.fade.estimated-out-of-pocket').on('click', function () {
              $('#howPlanShoppingWorksModal .modal-body .continue.fade.estimated-out-of-pocket').animate({
                opacity: 0
              }, 400, function () {});
              $modal.find('.estimated-out-of-pocket-text').hide();
              $modal.find('.maximum-cost-text').show();
              $modal.find('.progress-bar-warning').removeClass('active');
              $modal.find('.progress:first').addClass('top-progress');
              $modal.find('.progress:last').addClass('bottom-progress');
              $modal.find('.progress-max').slideDown('400');
              $("#howPlanShoppingWorksModal .progress-bar-danger").animate({
                width: "<%= maximum_percentage %>%"
              }, 1250, function () {});
              $modal.find('.maximum-cost-text').animate({
                opacity: 1
              }, 1250, function () {
                $('#howPlanShoppingWorksModal .modal-body .continue.fade.estimated-out-of-pocket span').text("Okay, Thanks!");
                $('#howPlanShoppingWorksModal .modal-body .continue.fade.estimated-out-of-pocket').animate({
                  opacity: 1
                }, 400);
                $('#howPlanShoppingWorksModal .modal-body .continue.fade.estimated-out-of-pocket').removeClass('estimated-out-of-pocket fade continue');
                $('#howPlanShoppingWorksModal .modal-body span.btn-trans').attr('data-dismiss', 'modal');
              });

            });
            $("#howPlanShoppingWorksModal .progress-bar-warning").addClass('active').animate({
              width: "<%= likely_percentage %>%"
            }, 1250, function () {
              $('#howPlanShoppingWorksModal .modal-body .continue.estimated-out-of-pocket.fade span').text("Great");
              $('#howPlanShoppingWorksModal .modal-body .continue.estimated-out-of-pocket.fade').animate({
                opacity: 1
              }, 400);
            });
          })
        });
        $("#howPlanShoppingWorksModal .progress-bar-success").animate({
          width: "<%= premium_percentage %>%"
        }, 1250, function () {});
      });
    });
    $('#howPlanShoppingWorksModal').modal('show');
  });
</script>
