<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
      Annual Estimated Cost Comparison - Lowest 3 Plans by <%= "#{@sort}".humanize.titleize || "Likely Cost" %>
    </h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-11">
        <div class="key">
          <div class="col-xs-3">
            <div class="row">
              <span data-toggle="tooltip" title="Monthly Premium: The amount you must pay for insurance each month, even if you don’t go to the doctor.">
                <span class="ball green"></span>
                <label>Premium</label>
              <span>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="row">
              <span data-toggle="tooltip" title="Estimated out-of-pocket cost: The amount you’re likely to spend on medical services this year based on the health information you gave us. This amount doesn’t include your monthly premium.">
                <span class="ball"></span>
                <label>Estimated Out-of-Pocket</label>
              </span>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="row">
              <span data-toggle="tooltip" title="Estimated out-of-pocket cost: The amount you’re likely to spend on medical services this year based on the health information you gave us. This amount doesn’t include your monthly premium.">
                <span class="ball red"></span>
                <label>Maximum Cost</label>
              </span>
            </div>
          </div>
        </div>
        <br class="clear"/>
        <% maximums = [] %>
        <!-- <% adjusted_graph = false %>
        <% cost_below_min = [] %> -->



        <% @plans[0..2].each_with_index do |plan, i| %>
          <% csv = Products::QhpCostShareVariance.find_qhp_cost_share_variances(["#{plan.hios_id}"], @hbx_enrollment.effective_on.year, @hbx_enrollment.coverage_kind).first %>
          <% moop = csv.qhp_maximum_out_of_pockets.where(name: "Maximum Out of Pocket for Medical and Drug EHB Benefits (Total)").last %>
          <% premium = current_cost(plan.total_employee_cost*12, plan.ehb, nil, 'shopping', plan.can_use_aptc?) %>
          <% likely = premium*1.33 %>
          <% if @person.primary_family.active_family_members.count > 1 %>
          <% maximum = moop.in_network_tier_1_individual_amount.gsub(/[$,]/, '').to_f + premium %>
          <% else %>
          <% maximum = moop.in_network_tier_1_family_amount.gsub(/[$,]/, '').to_f + premium %>
          <% end %>
          <% maximums << maximum %>
        <% end %>

        <% maximums = maximums.sort_by(&:to_i).reverse %>
        <% @plans[0..2].each_with_index do |plan, i| %>
        <% csv = Products::QhpCostShareVariance.find_qhp_cost_share_variances(["#{plan.hios_id}"], @hbx_enrollment.effective_on.year, @hbx_enrollment.coverage_kind).first %>
        <% moop = csv.qhp_maximum_out_of_pockets.where(name: "Maximum Out of Pocket for Medical and Drug EHB Benefits (Total)").last %>
        <% premium = current_cost(plan.total_employee_cost*12, plan.ehb, nil, 'shopping', plan.can_use_aptc?) %>
        <% likely = premium*1.33 %>
        <% if @person.primary_family.active_family_members.count > 1 %>
        <% maximum = moop.in_network_tier_1_individual_amount.gsub(/[$,]/, '').to_f + premium %>
        <% else %>
        <% maximum = moop.in_network_tier_1_family_amount.gsub(/[$,]/, '').to_f + premium %>
        <% end %>
        <% total = maximums.first %>

        <% premium_percentage = (premium / total) * 100 %>
        <% likely_percentage = ((likely - premium)/total)*100 %>
        <% maximum_percentage = (maximum/total)*100 %>
        <% likely_percentage = likely_percentage + premium_percentage >= maximum_percentage ? maximum_percentage - premium_percentage : likely_percentage %>
        <!-- <% costs = [premium_percentage, likely_percentage, maximum_percentage] %>
        <% costs.each do |cost| %>
          <% if cost <= 7.5 %>
            <% adjusted_graph = true %>
            <% cost = 7.5 - cost %>
            <% cost_below_min << cost %>
          <% end %>
        <% end %>
        <%= cost_below_min %>
        <% if cost_below_min.present? %>
          <% difference = cost_below_min.sort_by(&:to_i).reverse.first %>
          <% total = (total - (difference*3)) %>
          <% premium_percentage = ((premium / total) * 100).round(2).to_s[0..3] %>
          <% likely_percentage = (((likely - premium)/total)*100).round(2).to_s[0..3] %>
          <% maximum_percentage = (((maximum - likely )/total)*100).round(2).to_s[0..3] %>
        <% end %> -->



        <!-- are any of my numbers less than 7.5%?
        if something is 6% i need add 1.5% now my new bas is not 100 but 95.5 because I am going to add 1.5 to everything
        and im only doing this if everything is less than 7.5 percent -->

        <h5><%= plan.name %></h5>
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped" style="width: <%= premium_percentage %>%" data-toggle="tooltip" title="Premium: your 12 monthly payments">
            <%= number_to_currency(premium, precision: 0) %>
          </div>
          <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: <%= likely_percentage %>%" data-toggle="tooltip" title="Estimated Out-of-Pocket: the amount you’re likely to spend on medical services this year based on the health information you gave us">
            <%= number_to_currency((likely-premium), precision: 0) %>
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: <%= maximum_percentage %>%" data-toggle="tooltip" title="Maximum cost: the most you could pay in one year with this plan">
            <%= number_to_currency(maximum, precision: 0) %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <a class="clear btn-block btn btn-trans btn-small">Compare 3 Lowest Plans</a>
  </div>
</div>
