<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
      Annual Estimated Cost Comparison - Lowest 3 Plans by <%= "#{@sort}".humanize.titleize || "Likely Cost" %>
    </h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-11">
        <div class="key">
          <div class="col-xs-3">
            <div class="row">
              <span class="ball green"></span>
              <label>Premium</label>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="row">
              <span class="ball"></span>
              <label>Likely Cost</label>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="row">
              <span class="ball red"></span>
              <label>Maximum</label>
            </div>
          </div>
        </div>
        <br class="clear"/>
        <% maximums = [] %>

        <% @plans[0..2].each_with_index do |plan, i| %>
          <% csv = Products::QhpCostShareVariance.find_qhp_cost_share_variances(["#{plan.hios_id}"], @hbx_enrollment.effective_on.year, @hbx_enrollment.coverage_kind).first %>
          <% moop = csv.qhp_maximum_out_of_pockets.where(name: "Maximum Out of Pocket for Medical and Drug EHB Benefits (Total)").last %>
          <% premium = current_cost(plan.total_employee_cost*12, plan.ehb, nil, 'shopping', plan.can_use_aptc?) %>
          <% likely = premium*1.33 %>
          <% if @person.primary_family.active_family_members.count > 1 %>
          <% maximum = moop.in_network_tier_1_individual_amount.gsub(/[$,]/, '').to_f + premium %>
          <% else %>
          <% maximum = moop.in_network_tier_1_family_amount.gsub(/[$,]/, '').to_f + premium %>
          <% end %>
          <% maximums << maximum %>
        <% end %>

        <% maximums = maximums.sort_by(&:to_i).reverse %>
        <% @plans[0..2].each_with_index do |plan, i| %>
        <% csv = Products::QhpCostShareVariance.find_qhp_cost_share_variances(["#{plan.hios_id}"], @hbx_enrollment.effective_on.year, @hbx_enrollment.coverage_kind).first %>
        <% moop = csv.qhp_maximum_out_of_pockets.where(name: "Maximum Out of Pocket for Medical and Drug EHB Benefits (Total)").last %>
        <% premium = current_cost(plan.total_employee_cost*12, plan.ehb, nil, 'shopping', plan.can_use_aptc?) %>
        <% likely = premium*1.33 %>
        <% if @person.primary_family.active_family_members.count > 1 %>
        <% maximum = moop.in_network_tier_1_individual_amount.gsub(/[$,]/, '').to_f + premium %>
        <% else %>
        <% maximum = moop.in_network_tier_1_family_amount.gsub(/[$,]/, '').to_f + premium %>
        <% end %>
        <% total = maximums.first %>

        <% premium_percentage = (premium / total) * 100 %>
        <% likely_percentage = ((likely - premium)/total)*100 %>
        <% maximum_percentage = ((maximum - likely )/total)*100 %>

        <h5><%= plan.name %></h5>
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped" style="width: <%= premium_percentage %>%">
            <%= number_to_currency(premium) %>
          </div>
          <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: <%= likely_percentage %>%">
            <%= number_to_currency(likely) %>
          </div>
          <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: <%= maximum_percentage %>%">
            <%= number_to_currency(maximum) %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <a class="clear btn-block btn btn-trans btn-small">Compare 3 Lowest Plans</a>
  </div>
</div>
