
<div class="panel panel-default">
  <div class="panel-heading">
    Annual Estimated Cost Comparison - Lowest 3 Plans by Premium
  </div>
  <div class="panel-body">
    <div class="row">
  <div class="col-xs-10">
    <div class="key row">
      <div class="col-xs-3">
        <span class="ball green"></span>Premium
      </div>
      <div class="col-xs-3">
        <span class="ball"></span>Likely Cost
      </div>
      <div class="col-xs-3">
        <span class="ball red"></span>Maximum
      </div>
    </div>
    <% @plans[0..2].each do |plan| %>

    <% csv = Products::QhpCostShareVariance.find_qhp_cost_share_variances(["#{plan.hios_id}"], 2016, "health").first %>
    <% moop = csv.qhp_maximum_out_of_pockets.where(name: "Maximum Out of Pocket for Medical and Drug EHB Benefits (Total)").last %>
    <% premium = current_cost(plan.total_employee_cost, plan.ehb, nil, 'shopping', plan.can_use_aptc?) %>
    <% likely = current_cost(plan.total_employee_cost, plan.ehb, nil, 'shopping', plan.can_use_aptc?)*0.33 + (current_cost(plan.total_employee_cost, plan.ehb, nil, 'shopping', plan.can_use_aptc?)*12) %>
    <% if @person.primary_family.active_family_members.count > 1 %>
      <% maximum = moop.in_network_tier_1_individual_amount.gsub(/[$,]/, '').to_f + current_cost(plan.total_employee_cost, plan.ehb, nil, 'shopping', plan.can_use_aptc?) %>
    <% else %>
      <% maximum = moop.in_network_tier_1_family_amount.gsub(/[$,]/, '').to_f + current_cost(plan.total_employee_cost, plan.ehb, nil, 'shopping', plan.can_use_aptc?) %>
    <% end %>
    <% total = premium + likely + maximum %>
    <% premium_percentage = (premium / total) * 100 %>
    <% likely_percentage = ((likely - premium)/total)*100 %>
    <% maximum_percentage = ((maximum - (premium + likely))/total)*100 %>

      <h5><%= plan.name %></h5>
    <div class="progress">
      <div class="progress-bar progress-bar-success progress-bar-striped" style="width: <%= premium_percentage %>%">
        <%= number_to_currency(premium) %>
      </div>
      <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: <%= likely_percentage %>%">
        <%= number_to_currency(likely) %>
      </div>
      <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: <%= maximum_percentage %>%">
        <%= number_to_currency(maximum) %>
      </div>
    </div>
    <% end %>

</div>
</div>

</div>
<div class="panel-footer">
  <a class="clear">Compare Suggested Plans</a>
</div>
</div>
