<% content_for :horizontal_status do %>
  <%= render :partial => 'insured/families/horizontal_status.html.erb', locals: {step: 2} %>
<% end %>
<%= render "insured/plan_shoppings/detail_modal" %>
<div id= 'message_form'></div>
<div class="container" id="plan_shoppings_show_form">
  <div id="select_plan_wrapper" data-url="<%= plans_insured_plan_shopping_path(id: @hbx_enrollment.id, change_plan: @change_plan, market_kind: @market_kind, coverage_kind: @coverage_kind, enrollment_kind: @enrollment_kind, sort: @sort, rating: @multiplyer) if @hbx_enrollment.present? %>">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <div class="ct-1">
          <h1 class="darkblue no-buffer">Choose Plan</h1>
          <div class="">
            <div id="plan-summary"></div>

            <div id="all-plans" class="module all-filters-row">
              <%= render 'plan_filters' %>

              <div class="col-lg-9 col-md-9 co-sm-9 col-xs-12" style="padding-right: 0;">
                <div class="row no-buffer">
                  <%= render "shared/plan_shoppings/more_plan_details" %>
                </div>
                <div class="module sort-plans sort-area" style='margin:10px 0;'>
                  <span><strong>Sort By:</strong></span>
                  <% if @hbx_enrollment.is_shop? && @hbx_enrollment.coverage_kind == "health" %>
                    <div class="btn-group" role="group" id='sort_by_shop'>
                      <%= link_to 'Premium', plans_insured_plan_shopping_path(id: @hbx_enrollment.id, change_plan: @change_plan, market_kind: @market_kind, coverage_kind: @coverage_kind, enrollment_kind: @enrollment_kind, sort: 'premium', rating: @multiplyer ), remote: true, class: "btn btn-default" %>
                      <%= link_to 'Estimated Out-of-Pocket', plans_insured_plan_shopping_path(id: @hbx_enrollment.id, change_plan: @change_plan, market_kind: @market_kind, coverage_kind: @coverage_kind, enrollment_kind: @enrollment_kind, sort: 'estimated_out_of_pocket', rating: @multiplyer ), remote: true, class: "btn btn-default" %>
                      <%= link_to 'Maximum Cost', plans_insured_plan_shopping_path(id: @hbx_enrollment.id, change_plan: @change_plan, market_kind: @market_kind, coverage_kind: @coverage_kind, enrollment_kind: @enrollment_kind, sort: 'maximum_cost', rating: @multiplyer ), remote: true, class: "btn btn-default" %>
                    </div>
                  <% else %>
                    <div class="btn-group" role="group" id='sort_by'>
                      <a href='javascript:void(0)' class="btn btn-default" data-sort-by='plan-name'>Plan Name</a>
                      <a href='javascript:void(0)' class="btn btn-default" data-sort-by='plan-metal-premium'>Premium Amount</a>
                      <a href='javascript:void(0)' class="btn btn-default" data-sort-by='plan-metal-deductible'>Deductible</a>
                      <a href='javascript:void(0)' class="btn btn-default" data-sort-by='plan-carrier'>Carrier</a>
                    </div>
                  <% end %>
                </div>
                <div class="module smart-plans">
                </div>
                <div class="row no-buffer">
                    <a href="javascript:void(0);" style="display: none;" class="btn-block btn btn-trans btn-small compare-selected-plans-link", data-uri="<%= comparison_products_plans_path(market_kind: @market_kind, coverage_kind: @coverage_kind) %>">
                      COMPARE SELECTED PLANS
                    </a>
                </div>
                <div id="plans" class="module">
                  <br/>
                  <br/>
                  <br/><br/><br/><span class='text-block text-center col-xs-12'><i class='fa fa-spinner fa-spin fa-2x' style='color: #007bc4;'></i><br/><h4 class='text-center'>Loading plans...</h4></span><br class='clear'/>                </div>
                <div class="row no-buffer">
                    <a href="javascript:void(0);" style="display: none;" class="btn-block btn btn-trans btn-small compare-selected-plans-link", data-uri="<%= comparison_products_plans_path(market_kind: @market_kind, coverage_kind: @coverage_kind) %>">
                      COMPARE SELECTED PLANS
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 right-section">
        <% if @change_plan.blank? && @market_kind == "individual" %>
          <% if @enrollment_kind.blank? && is_under_open_enrollment? %>
            <%= render  partial: 'shared/individual_progress', locals: {step: '4'} %>
          <% else %>
            <%= render  partial: 'shared/sep_progress', locals: {step: '5'} %>
          <% end %>
        <% elsif @change_plan.blank? %>
          <%= render  partial: 'shared/signup_progress', locals: {step: '5'} %>
        <% elsif @change_plan == "change_by_qle" %>
          <%= render partial: 'shared/qle_progress', locals: {step: '2'} %>
        <% elsif @change_plan == "change_plan" %>
          <% if (@market_kind == "individual" && !is_under_open_enrollment?) || @enrollment_kind == 'sep' %>
            <%= render  partial: 'shared/sep_shop_for_plans_progress', locals: {step: '2'} %>
          <% else %>
            <%= render partial: 'shared/shop_for_plans_progress', locals: {step: '1', show_waive: true} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="shoppingTermsModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">What You Pay</h4>
      </div>
      <div class="modal-body">
        <strong>Monthly Premium:</strong> The amount you must pay for insurance each month, even if you don’t go to the doctor.<br/><br/>
        <strong>Annual Premium:</strong> 12 monthly payments. The amount you must pay for insurance for the year, even if you don’t go to the doctor.<br/><br/>
        <strong>Estimated out-of-pocket costs:</strong> The amount you’re likely to spend on medical services this year based on the health information you gave us. This amount doesn’t include your monthly premium.<br/><br/>
        <strong>Likely total cost for one year:</strong> This is your monthly premium plus our estimate of your likely out-of-pocket costs for one year.<br/><br/>
        <strong>Maximum cost for one  year:</strong> The most you could pay in a year. This is your monthly premium plus the highest possible out-of-pocket cost for your insurance plan. This amount does not include services the plan doesn’t cover, like out-of-network care, experimental treatments, or ling-term nursing care.<br/><br/>
      </div>
      <div class="modal-footer">
        <a class="btn btn-trans" data-dismiss="modal">Close</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="howPlanShoppingWorksModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body center-block col-xs-6 dn">
        <h3 class="text-center">How plan costs work</h3>
        <% csv = Products::QhpCostShareVariance.find_qhp_cost_share_variances(["#{@plan.hios_id}"], @hbx_enrollment.effective_on.year, @hbx_enrollment.coverage_kind).first %>
        <% moop = csv.qhp_maximum_out_of_pockets.where(name: "Maximum Out of Pocket for Medical and Drug EHB Benefits (Total)").last %>
        <% premium = (current_cost(@plan.total_employee_cost*12, @plan.ehb, nil, 'shopping', @plan.can_use_aptc?)) %>
        <% likely = (premium*1.33) %>
        <% likely_cost = (premium*1.33) - premium %>
        <% if @person.primary_family.active_family_members.count > 1 %>
        <% maximum = moop.in_network_tier_1_individual_amount.gsub(/[$,]/, '').to_f + premium %>
        <% else %>
        <% maximum = moop.in_network_tier_1_family_amount.gsub(/[$,]/, '').to_f + premium %>
        <% end %>
        <% total = maximum %>



        <% premium_percentage = (premium / total) * 100 %>
        <% likely_percentage = ((likely - premium)/total)*100 %>
        <% maximum_percentage = (maximum/total)*100 %>
        <% likely_percentage = likely_percentage + premium_percentage >= maximum_percentage ? maximum_percentage - premium_percentage : likely_percentage %>

        <% premium_percentage = premium_percentage.round %>
        <% likely_percentage = (likely_percentage.round) - 0.125 %>
        <% maximum_percentage = maximum_percentage.round %>

        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped active" style="width: 0%;" data-toggle="tooltip" title="Premium: Your 12 monthly payments">
            <%= number_to_currency(premium, precision: 0) %>
          </div>
          <div class="dn progress-bar progress-bar-warning progress-bar-striped" style="width: 0%;" data-toggle="tooltip" title="Estimated Out-of-Pocket: The amount you’re likely to spend on medical services this year based on the health information you gave us">
            <%= number_to_currency(likely_cost, precision: 0) %>
          </div>
        </div>
        <div class="dn progress progress-max">
          <div class="progress-bar progress-bar-danger progress-bar-striped active" style="width: 0%" data-toggle="tooltip" title="Maximum Cost: The most you could pay in a year. Your annual premium plus you’re the highest possible out of pocket cost for your insurance plan">
            <%= number_to_currency(maximum, precision: 0) %>
          </div>
        </div>
        <div class="premium-text fade">
          <h4>
            <strong>
              Premium:
            </strong>
            The amount you must pay for insurance each month, even if you don’t go to the doctor.
          </h4>
        </div>
        <div class="estimated-out-of-pocket-text fade dn">
          <h4>
            <strong>
              Estimated Ouf Of Pocket:
            </strong>
            The amount you’re likely to spend on medical services this year based on the health information you gave us.
          </h4>
        </div>
        <div class="maximum-cost-text fade dn">
          <h4>
            <strong>
              Maximum Cost:
            </strong>
            The amount you’re likely to spend on medical services this year based on the health information you gave us.
          </h4>
        </div>
        <div>
        <div class="continue premium fade">
          <br/>
            <div class="row">
          <span class="btn btn-trans btn-small col-xs-6 col-xs-offset-3">
            Got It
          </span>
            </div>
          <br/>
        </div>

      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="plans-compare-alert">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Plan Compare Alert</h4>
      </div>
      <div class="modal-body">
        <p style='color:red;'>Can not select more than 3 plans to compare.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%= render :partial => "insured/plan_shoppings/waive_confirmation", :locals => {:enrollment => @hbx_enrollment } if @hbx_enrollment.try(:employee_role).present? %>

<%= render :partial => "insured/plan_shoppings/help_with_plan", :locals => {:enrollment => @hbx_enrollment } %>

<script type="text/javascript">
$(document).ready(function() {
  <% if @hbx_enrollment.coverage_kind == "health" && @hbx_enrollment.is_shop? %>
    $('#howPlanShoppingWorksModal').on('shown.bs.modal', function () {
      $('#howPlanShoppingWorksModal .modal-body').slideDown(400, function() {
          $(this).closest('.modal').find('.premium-text').animate({opacity: 1}, 1250, function() {
            $('#howPlanShoppingWorksModal .modal-body .continue.premium.fade').animate({opacity: 1}, 400);
            $('.continue.premium.fade').on('click', function() {
              $('#howPlanShoppingWorksModal .modal-body .continue.premium.fade').animate({opacity: 0}, 400);
              $(this).closest('.modal').find('.progress-bar-warning').show();
              $(this).closest('.modal').find('.progress-bar-success').removeClass('active');
              $(this).closest('.modal').find('.premium-text').hide();
              $(this).closest('.modal').find('.estimated-out-of-pocket-text').show();
              $(this).closest('.modal').find('.estimated-out-of-pocket-text').animate({opacity: 1}, 1250);
              $('#howPlanShoppingWorksModal .modal-body .continue.premium.fade').addClass('estimated-out-of-pocket');
              $('#howPlanShoppingWorksModal .modal-body .continue.premium.fade.estimated-out-of-pocket').removeClass('premium');
              $('#howPlanShoppingWorksModal .modal-body .continue.fade.estimated-out-of-pocket').on('click', function() {
                $('#howPlanShoppingWorksModal .modal-body .continue.fade.estimated-out-of-pocket').animate({opacity: 0}, 400, function() {
                });
                $(this).closest('.modal').find('.estimated-out-of-pocket-text').hide();
                $(this).closest('.modal').find('.maximum-cost-text').show();
                $(this).closest('.modal').find('.estimated-out-of-pocket-text').removeClass('active');
                $(this).closest('.modal').find('.maximum-cost-text').animate({opacity: 1}, 1250, function() {
                  $(this).closest('.modal').find('.progress-max').slideDown('400');

                  $("#howPlanShoppingWorksModal .progress-bar-danger").animate({
                      width: "<%= maximum_percentage %>%"
                  }, 1250, function() {
                    $('#howPlanShoppingWorksModal .modal-body .continue.fade.estimated-out-of-pocket span').text("Okay, Thanks!");
                    $('#howPlanShoppingWorksModal .modal-body .continue.fade.estimated-out-of-pocket').animate({opacity: 1}, 400);
                    $('#howPlanShoppingWorksModal .modal-body .continue.fade.estimated-out-of-pocket').removeClass('estimated-out-of-pocket fade continue');
                    $('#howPlanShoppingWorksModal .modal-body span.btn-trans').attr('data-dismiss', 'modal');

                  } );
                });

              });
              $("#howPlanShoppingWorksModal .progress-bar-warning").addClass('active').animate({
                  width: "<%= likely_percentage %>%"
              }, 1250, function() {
                $('#howPlanShoppingWorksModal .modal-body .continue.estimated-out-of-pocket.fade span').text("Great");
                $('#howPlanShoppingWorksModal .modal-body .continue.estimated-out-of-pocket.fade').animate({opacity: 1}, 400);

              } );
            })
          });
          $("#howPlanShoppingWorksModal .progress-bar-success").animate({
              width: "<%= premium_percentage %>%"
          }, 1250, function() {
          });
        });
      });


    $('#howPlanShoppingWorksModal').modal('show');

  <% end %>
  <%
    if @hbx_enrollment.coverage_kind == "dental"
  %>
    $(".plan-metal-level-selection-filter").attr("disabled", true);
  <% end %>

  $('.sort-plans a').on('click', function() {
    $('.smart-plans').html("<br/><br/><br/><span class='text-block text-center col-xs-12'><i class='fa fa-spinner fa-spin fa-2x' style='color: #007bc4;'></i><br/><h4 class='text-center'>Loading plans...</h4></span><br class='clear'/>");
    $('#plans, .compare-selected-plans-link').hide();
  });
  $('.smart-plans').html("<br/><br/><br/><span class='text-block text-center col-xs-12'><i class='fa fa-spinner fa-spin fa-2x' style='color: #007bc4;'></i><br/><h4 class='text-center'>Loading plans...</h4></span><br class='clear'/>");
  $('#plans').hide();
  $.ajax({
    url: "<%= plans_insured_plan_shopping_path(id: @hbx_enrollment.id, change_plan: @change_plan, market_kind: @market_kind, coverage_kind: @coverage_kind, enrollment_kind: @enrollment_kind, sort: @sort, rating: @multiplyer) if @hbx_enrollment.present? %>",
    type: "GET"
  });
});


</script>
