<% content_for :horizontal_status do %>
  <%= render :partial => 'insured/families/horizontal_status.html.erb', locals: {step: 2} %>
<% end %>
<%= render "insured/plan_shoppings/detail_modal" %>
<div id= 'message_form'></div>
<div class="container" id="plan_shoppings_show_form">
  <div id="select_plan_wrapper">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <div class="ct-1">
          <h1 class="darkblue no-buffer">Choose Plan</h1>
          <div class="">
            <div id="plan-summary"></div>

            <div id="all-plans" class="module all-filters-row">
              <%= render 'plan_filters' %>

              <div class="col-lg-9 col-md-9 co-sm-9 col-xs-12" style="padding-right: 0;">
                <div class="row no-buffer">
                  <%= render "shared/plan_shoppings/more_plan_details" %>
                </div>
                <div class="module sort-plans sort-area" style='margin:10px 0;'>
                  <span><strong>Sort By:</strong></span>
                  <div class="btn-group" role="group" id='sort_by'>
                    <%= link_to 'Premium', plans_insured_plan_shopping_path(id: @hbx_enrollment.id, change_plan: @change_plan, market_kind: @market_kind, coverage_kind: @coverage_kind, enrollment_kind: @enrollment_kind, sort: 'premium'), remote: true, class: "btn btn-default" %>
                    <%= link_to 'Likely Cost', plans_insured_plan_shopping_path(id: @hbx_enrollment.id, change_plan: @change_plan, market_kind: @market_kind, coverage_kind: @coverage_kind, enrollment_kind: @enrollment_kind, sort: 'likely_cost'), remote: true, class: "btn btn-default" %>
                    <%= link_to 'Maximum Cost', plans_insured_plan_shopping_path(id: @hbx_enrollment.id, change_plan: @change_plan, market_kind: @market_kind, coverage_kind: @coverage_kind, enrollment_kind: @enrollment_kind, sort: 'maximum_cost'), remote: true, class: "btn btn-default" %>
                  </div>
                </div>
                <div class="module smart-plans">
                </div>
                <div class="row no-buffer">
                    <a href="javascript:void(0);" style="display: none;" class="btn-block btn btn-trans btn-small compare-selected-plans-link", data-uri="<%= comparison_products_plans_path(market_kind: @market_kind, coverage_kind: @coverage_kind) %>">
                      COMPARE SELECTED PLANS
                    </a>
                </div>

                <div id="plans" class="module">
                  <br/><br/>
<br/><br/><br/><span class='text-block text-center col-xs-12'><i class='fa fa-spinner fa-spin fa-2x' style='color: #007bc4;'></i><br/><h4 class='text-center'>Loading plans...</h4></span><br class='clear'/>                </div>
                <div class="row no-buffer">
                    <a href="javascript:void(0);" style="display: none;" class="btn-block btn btn-trans btn-small compare-selected-plans-link", data-uri="<%= comparison_products_plans_path(market_kind: @market_kind, coverage_kind: @coverage_kind) %>">
                      COMPARE SELECTED PLANS
                    </a>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 right-section">
        <% if @change_plan.blank? && @market_kind == "individual" %>
          <% if @enrollment_kind.blank? && is_under_open_enrollment? %>
            <%= render  partial: 'shared/individual_progress', locals: {step: '4'} %>
          <% else %>
            <%= render  partial: 'shared/sep_progress', locals: {step: '5'} %>
          <% end %>
        <% elsif @change_plan.blank? %>
          <%= render  partial: 'shared/signup_progress', locals: {step: '5'} %>
        <% elsif @change_plan == "change_by_qle" %>
          <%= render partial: 'shared/qle_progress', locals: {step: '2'} %>
        <% elsif @change_plan == "change_plan" %>
          <% if (@market_kind == "individual" && !is_under_open_enrollment?) || @enrollment_kind == 'sep' %>
            <%= render  partial: 'shared/sep_shop_for_plans_progress', locals: {step: '2'} %>
          <% else %>
            <%= render partial: 'shared/shop_for_plans_progress', locals: {step: '1', show_waive: true} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="shoppingTermsModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">What You Pay</h4>
      </div>
      <div class="modal-body">
        <strong>Monthly Premium:</strong> The amount you must pay for insurance each month, even if you don’t go to the doctor.<br/><br/>
        <strong>Annual Premium:</strong> 12 monthly payments. The amount you must pay for insurance for the year, even if you don’t go to the doctor.<br/><br/>
        <strong>Estimated out-of-pocket costs:</strong> The amount you’re likely to spend on medical services this year based on the health information you gave us. This amount doesn’t include your monthly premium.<br/><br/>
        <strong>Likely total cost for one year:</strong> This is your monthly premium plus our estimate of your likely out-of-pocket costs for one year.<br/><br/>
        <strong>Maximum cost for one  year:</strong> The most you could pay in a year. This is your monthly premium plus the highest possible out-of-pocket cost for your insurance plan. This amount does not include services the plan doesn’t cover, like out-of-network care, experimental treatments, or ling-term nursing care.<br/><br/>
      </div>
      <div class="modal-footer">
        <a class="btn btn-trans" data-dismiss="modal">Close</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="plans-compare-alert">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Plan Compare Alert</h4>
      </div>
      <div class="modal-body">
        <p style='color:red;'>Can not select more than 3 plans to compare.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%= render :partial => "insured/plan_shoppings/waive_confirmation", :locals => {:enrollment => @hbx_enrollment } if @hbx_enrollment.try(:employee_role).present? %>

<%= render :partial => "insured/plan_shoppings/help_with_plan", :locals => {:enrollment => @hbx_enrollment } %>

<script type="text/javascript">
$(document).ready(function() {
  $('#shoppingTermsModal').modal('show');
  <%
    #if coverage_kind is dental, disabled metal level options as it's not applicable.
    if @hbx_enrollment.coverage_kind == "dental"
  %>

    $(".plan-metal-level-selection-filter").attr("disabled", true);
  <% end %>
  $('.sort-plans a').on('click', function() {
    $('.smart-plans').html("<br/><br/><br/><span class='text-block text-center col-xs-12'><i class='fa fa-spinner fa-spin fa-2x' style='color: #007bc4;'></i><br/><h4 class='text-center'>Loading plans...</h4></span><br class='clear'/>");
    $('#plans, .compare-selected-plans-link').hide();
  });
  $('.smart-plans').html("<br/><br/><br/><span class='text-block text-center col-xs-12'><i class='fa fa-spinner fa-spin fa-2x' style='color: #007bc4;'></i><br/><h4 class='text-center'>Loading plans...</h4></span><br class='clear'/>");
  $('#plans').hide();
  $.ajax({
    url: "<%= plans_insured_plan_shopping_path(id: @hbx_enrollment.id, change_plan: @change_plan, market_kind: @market_kind, coverage_kind: @coverage_kind, enrollment_kind: @enrollment_kind, sort: @sort) if @hbx_enrollment.present? %>",
    type: "GET"
  });
});


</script>
