<% content_for :horizontal_status do %>
<%= render :partial => 'insured/families/horizontal_status', locals: {step: 1} %>
<% end %>
<% content_for :analytics_submit_column do %>
<br/>
<br/>
<%= render :partial => 'insured/health_analytics/analytics_submit_column' %>
<% end %>
<h1 class="darkblue">Health - Tell us about your family's Health</h1>
<div class="row">
  <p class="col-xs-10">
    Your health information can't be used to keep you from getting health insurance and it won't raise your monthly payments.
  </p>
</div>
<% @person.primary_family.active_family_members.each do |family_member| %>
<div class="module family-member <%= family_member.gender %>">
  <h3>This is
    <span class="first-name">
      <%= family_member.person.first_name %>:
    </span>
    <span>
      <% if family_member.person.gender == 'male' %>
      <i class="fa fa-male"></i>
      <% else %>
      <i class="fa fa-female"></i>
      <% end %>
    </span>
    <span class="gender">
      <%= family_member.person.gender %>,
    </span>
    <span>
      <%= calculate_age_by_dob(family_member.person.dob) %></span>
    years old</h3>
  <div class="overall-health panel panel-default col-xs-10 health_analytics">
    <div class="row">
      <div class="panel-heading">
        <h4>Overall,
          <span class="first-name"><%= family_member.person.first_name %></span>'s health is:</h4>
      </div>
      <div class="panel-body">
        <input class="slider" data-slider-value="50" type="text"/>
      </div>
      <br/>
      <div class="panel-footer">
        <span>
          <strong>Good:</strong>
          I go to the doctor regulary. I have at least 1 chronic (long-term) health problem, but it's generally under control.</span>
      </div>
    </div>
  </div>
  <br class="clear"/>
  <br/>
  <div class="health_analytics col-xs-10">
    <div class="row">
      <div class="row">
        <div class="col-xs-6">
          <div class="conditions panel panel-default">
            <div class="panel-heading">
              <h4>Does
                <span class="first-name"><%= family_member.person.first_name %></span>
                have any health conditions?</h4>
            </div>
            <div class="panel-body">
              <%= link_to "<i class='fa fa-plus'></i> Add Health Conditions".html_safe, "", class: "btn btn-trans btn-br", data: { toggle: 'modal', target: "#healthConditions-#{family_member.id}" } %>
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="medications panel panel-default">
            <div class="panel-heading">
              <h4>Does
                <span class="first-name"><%= family_member.person.first_name %></span>
                take any medications?</h4>
            </div>
            <div class="panel-body">
              <%= link_to "<i class='fa fa-plus'></i> Add Medications".html_safe, "", class: "btn btn-trans btn-br", data: { toggle: 'modal', target: "#healthMedications-#{family_member.id}" } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br class="clear"/>
  <div class="modal fade healthConditions" id="healthConditions-<%= family_member.id %>" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" type="button">&times;</button>
          <h4 class="modal-title">Add Health Conditions</h4>
        </div>
        <div class="modal-body">
          <% Family::HealthConditions.each do |health_condition| %>
          <div class="checkbox">
            <label>
              <%= check_box_tag 'health_condition' %>
              <%= label_tag 'health_condition' do %>
              <i class="fa fa-check-square-o fa-2x"></i>
              <i class="fa fa-square-o fa-2x"></i>
              <% end %>
              <span><%= health_condition.humanize.titleize %></span>
            </label>
          </div>
          <% end %>

        </div>
        <div class="modal-footer">
          <a class="btn btn-trans btn-small" data-dismiss="modal">Close</a>
          <a class="btn btn-primary btn-br btn-small mtz" data-dismiss="modal">Add Health Conditions</a>
        </div>
      </div>

    </div>
  </div>

  <div class="modal fade healthMedications" id="healthMedications-<%= family_member.id %>" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" type="button">&times;</button>
          <h4 class="modal-title">Add Medications</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <label>Which Medications do you take?</label>
              <br/>
              <br/>
              <input class="typeahead" placeholder="Add A Prescription Name" type="text">
            </div>
          </div>

          <div class="collapse">
            <br/>
            <div class="row">
              <div class="col-xs-2">
                <label>Form:</label>
              </div>
              <div class="col-xs-10">
                <%= select_tag 'Form', options_for_select([ "Tablet", "Capsule" ]) %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2">
                <label>Dosage:</label>
              </div>
              <div class="col-xs-10">
                <%= select_tag 'Form', options_for_select([ "5mg", "10mg", "15mg", "20mg", "25mg", "30mg" ]) %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2">
                <label>Quantity:</label>
              </div>
              <div class="col-xs-10">
                <%= select_tag 'Form', options_for_select([ 10, 20, 30, 40, 50, 60 ]) %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2">
                <label>Refill</label>
              </div>
              <div class="col-xs-10">
                <div class="row">
                  <div class="col-xs-4">
                    <%= number_field_tag 'Refill', nil, style: 'width: 100%;' %>
                  </div>
                  <div class="col-xs-4">
                    <label>times per</label>
                  </div>
                  <div class="col-xs-4">
                    <%= select_tag 'frequency', options_for_select([ "Month", "Year"]) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-trans btn-small pull-left" data-dismiss="modal">Close</a>
          <a class="btn btn-primary btn-br btn-small mtz" data-dismiss="modal">Add Medications</a>
        </div>
      </div>

    </div>

  </div>
  <div class="row">
    <p class="col-xs-10">
      Insurance won't cover all of your medical expenses. We can help you estimate what you might spend on medical care (your out-of-pocket costs) if you tell us a bit more about your health concerns. This information will not be shared with anymore,
      including your employer, and will not be saved.
    </p>
  </div>
  <br/>
  <br/>

  <div class="doctors panel panel-default col-xs-10 health_analytics">
    <div class="row">
      <div class="panel-heading">
        <h4>Are there any
          <span>doctors</span>
          (like your current doctor) that you want to make sure are included in your plan's network?</h4>
      </div>
      <div class="panel-body">
        <p>Some insurance plans let you see doctors outside their network, but it's usually much more expensive.</p>
        <p class="my-doctors"></p>
        <input class="typeahead" placeholder="Add A Doctor" type="text">
      </div>
    </div>

  </div>
  <br class="clear"/>
</div>
<% end %>
<script>
  $(document).ready(function () {

    $('.slider').on("slideStop", function (slideEvt) {
      if ($(this).val() == "100") {
        $(this).closest('.panel').find('.panel-footer').css({backgroundColor: '#d6e9c6', border: '#d6e9c6'});
        $(this).closest('.panel').find('.panel-footer span').css({color: '#3c763d'});
        $(this).closest('.panel').find('.panel-footer span').html("<strong>Excellent</strong>: I’m healthy. I don’t go to the doctor often. I don’t have any chronic (long-term) health problems.");
      }
      if ($(this).val() == "75") {
        $(this).closest('.panel').find('.panel-footer').css({backgroundColor: '#ddebea', border: '#d6e9c6'});
        $(this).closest('.panel').find('.panel-footer span').css({color: '#3c763d'});
        $(this).closest('.panel').find('.panel-footer span').html("<strong>Very Good</strong>: I go to the doctor a few times a year. I have minor health concerns, but I am generally healthy.");
      }
      if ($(this).val() == "50") {
        $(this).closest('.panel').find('.panel-footer').css({backgroundColor: '#d9edf7', border: '#bce8f1'});
        $(this).closest('.panel').find('.panel-footer span').css({color: '#31708f'});
        $(this).closest('.panel').find('.panel-footer span').html("<strong>Good</strong>: I go to the doctor regularly. I have at least 1 chronic (long-term) health problem, but it’s generally under control.");

      }
      if ($(this).val() == "25") {
        $(this).closest('.panel').find('.panel-footer').css({backgroundColor: '#e5eff1', border: '#faebcc'});
        $(this).closest('.panel').find('.panel-footer span').css({color: '#8a6d3b'});
        $(this).closest('.panel').find('.panel-footer span').html("<strong>Fair</strong>: I go to the doctor often. I have at least 1 chronic (long term) health problem that is not under control.");

      }
      if ($(this).val() == "0") {
        $(this).closest('.panel').find('.panel-footer').css({backgroundColor: '#fcf8e3', border: '#faebcc'});
        $(this).closest('.panel').find('.panel-footer span').css({color: '#8a6d3b'});
        $(this).closest('.panel').find('.panel-footer span').html("<strong>Poor</strong>: I go to the doctor often. I have more than 1 chronic (long-term) health problems that aren’t under control.");
      }
    })



    $('.modal-footer .btn-primary').on('click', function () {
      if ($(this).text() == "Add Health Conditions") {
        modal = $(this).closest('.modal');
        modal_id = modal.attr('id');
        if ( modal.find('input:checked').length > 0) {
          checked_conditions = modal.find('input:checked').closest('label').find('span').clone();
          modal.closest('.family-member').find('.conditions .panel-body').html("");
          family_member = modal.closest('.family-member');
          $.each(checked_conditions, function (i, val) {
            if (checked_conditions.length == 1) {
              family_member.find('.conditions .panel-body').append(val);
            } else if (checked_conditions.length == 2) {
              if (i + 1 == checked_conditions.length) {
                family_member.find('.conditions .panel-body').append(" and ");
                family_member.find('.conditions .panel-body').append(val);

              } else {
                family_member.find('.conditions .panel-body').append(val);
              }
            } else if (i + 1 == checked_conditions.length && checked_conditions.length >= 3) {
              family_member.find('.conditions .panel-body').append("and ");
              family_member.find('.conditions .panel-body').append(val);
            } else {
              family_member.find('.conditions .panel-body').append(val);
              family_member.find('.conditions .panel-body').append(", ");
            }
          });
          modal.closest('.family-member').find('.conditions .panel-body span').wrap("<a data-target=#"+modal_id+" data-toggle='modal'></a>")
          modal.closest('.family-member').find('.conditions .panel-body').append("<a data-target=#"+modal_id+" data-toggle='modal'> (Edit)</a>")
        } else {
          modal.closest('.family-member').find('.conditions .panel-body').html('<a class="btn btn-trans btn-br interaction-click-control-add-health-conditions" data-toggle="modal" data-target=#'+modal_id+' href=""><i class="fa fa-plus"></i> Add Health Conditions</a>');
        }
      } else if ($(this).text() == "Add Medications") {
        $('#healthMedications').unbind('hidden');
        Household.addMedications($(this).closest('.modal'));
      }
    });
    $('.modal-footer .btn-trans').on('click', function() {
      if ( $(this).text() == "Close" ) {
        $('#healthMedications').unbind('hidden');
      }
    });
    $(".slider").bootstrapSlider({
      ticks: [
        0, 25, 50, 75, 100
      ],
      step: 25,
      tooltip: 'hide',
      ticks_labels: [
        'Poor', 'Fair', 'Good', 'Very Good', 'Excellent'
      ],
      ticks_snap_bounds: 25
    });

    $('#continue').on('click', function () {
      rating = $('input.slider:first').data('value');
      if ( rating < 50 ) {
        rating = 3
      } else if ( rating == 50 ) {
        rating = 2
      } else if ( rating > 50 ) {
        rating = 1
      }
      window.location = "<%= estimate_insured_health_analytics_path(id: @hbx_enrollment) %>&rating="+rating
    })

    var substringMatcher = function (strs) {
      return function findMatches(q, cb) {
        var matches,
          substringRegex;

        // an array that will be populated with substring matches
        matches = [];

        // regex used to determine if a string contains the substring `q`
        substrRegex = new RegExp(q, 'i');

        // iterate through the pool of strings and for any string that
        // contains the substring `q`, add it to the `matches` array
        $.each(strs, function (i, str) {
          if (substrRegex.test(str)) {
            matches.push(str);
          }
        });

        cb(matches);
      };
    };

    var drugs = ['Tylenol', 'Abelcet', '', 'Habitrol', 'Pacerone', 'Rabavert'];
    var doctors_list = [{
        name: "FLOYD MEACHUM DO",
        address: "3900 Cambridge St Ste 102, Las Vegas, NV 89119 Clark",
        specialty: "Family Practice"
    },
    {
        name: "BRIAN LEE MD",
        address: "2310 Paseo Del Prado, Las Vegas, NV 89102 Clark",
        specialty: "Internal Medicine"
    },
    {
      name: "AJAY KUMAR NELLUTLA",
      address: "3201 S Maryland Pkwy Ste 100, Las Vegas, NV 89109 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "VISHWESHWAR RANGA MD",
      address: "3201 S Maryland Pkwy Ste 100, Las Vegas, NV 89109 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "ROBERT MUSNI MD",
      address: "3201 S Maryland Pkwy Ste 400, Las Vegas, NV 89109 Clark",
      specialty: "Family Practice"
    },
    {
      name: "MONA BAMBHA MD",
      address: "3201 S Maryland Pkwy Ste 400, Las Vegas, NV 89109 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "VICTOR ALMUFDI MD",
      address: "3121 S Maryland Pkwy Ste 101, Las Vegas, NV 89109 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "BEATRIZ ANG ERMOCILLA MD",
      address: "3121 S Maryland Pkwy Ste 101, Las Vegas, NV 89109 Clark",
      specialty: "Family Practice"
    },
    {
      name: "WILLIAM VON TOBEL MD",
      address: "3121 S Maryland Pkwy Ste 101, Las Vegas, NV 89109 Clark",
      specialty: "Family Practice"
    },
    {
      name: "CARLOS ERMOCILLA MD",
      address: "3121 S Maryland Pkwy Ste 101, Las Vegas, NV 89109 Clark",
      specialty: "Family Practice"
    },
    {
      name: "MAHFOUD BEAJOW MD",
      address: "3006 S Maryland Pkwy Ste 400, Las Vegas, NV 89109 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "JAVAID ANWAR MD",
      address: "530 E Saint Louis Ave, Las Vegas, NV 89104 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "WILLIAM ALVEAR MD",
      address: "2870 S Maryland Pkwy Ste 120, Las Vegas, NV 89109 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "ROMUALDO ARAGON MD",
      address: "4415 W Flamingo Rd, Las Vegas, NV 89103 Clark",
      specialty: "Family Practice"
    },
    {
      name: "ROBERT MUSNI MD",
      address: "Po Box 453020, Las Vegas, NV 89154 Clark",
      specialty: "Family Practice"
    },
    {
      name: "ADAM PASTERNAK DO",
      address: "1621 E Flamingo Rd Ste 17B, Las Vegas, NV 89119 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "ALVIN LIN MD",
      address: "1621 E Flamingo Rd Ste 16B, Las Vegas, NV 89119 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "ROSEMARY NOWINS",
      address: "1641 E Flamingo Rd Ste 10, Las Vegas, NV 89119 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "ROSNER LUSS MD",
      address: "4880 Wynn Rd, Las Vegas, NV 89103 Clark",
      specialty: "Family Practice"
    },
    {
      name: "SYED HUSSAIN MD",
      address: "4880 Wynn Rd, Las Vegas, NV 89103 Clark",
      specialty: "Family Practice"
    },
    {
      name: "THOMAS CLAY DO",
      address: "4880 Wynn Rd, Las Vegas, NV 89103 Clark",
      specialty: "Family Practice"
    },
    {
      name: "OLAYINKA ALONGE MD",
      address: "4880 Wynn Rd, Las Vegas, NV 89103 Clark",
      specialty: "Family Practice"
    },
    {
      name: "DIANE LEVIN DO",
      address: "4880 Wynn Rd, Las Vegas, NV 89103 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "PETER CHU MD",
      address: "4880 Wynn Rd, Las Vegas, NV 89103 Clark",
      specialty: "Family Practice"
    },
    {
      name: "REZA BERJIS MD",
      address: "4880 Wynn Rd, Las Vegas, NV 89103 Clark",
      specialty: "Family Practice"
    },
    {
      name: "IRFAN TAHIR MD",
      address: "1900 E Desert Inn Rd, Las Vegas, NV 89169 Clark",
      specialty: "Family Practice"
    },
    {
      name: "ZIMA PAKZAD MD",
      address: "1707 W Charleston Blvd Ste 230, Las Vegas, NV 89102 Clark",
      specialty: "General Practice"
    },
    {
      name: "VERONICA LINDO MD",
      address: "1707 W Charleston Blvd Ste 230, Las Vegas, NV 89102 Clark",
      specialty: "Internal Medicine, Hematology, & Medical Oncology"
    },
    {
      name: "MARK BURROFF DO",
      address: "1707 W Charleston Blvd Ste 230, Las Vegas, NV 89102 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "CHRISTOPHER CRUZ",
      address: "1707 W Charleston Blvd Ste 230, Las Vegas, NV 89102 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "BADRUNNISA HANIF MD",
      address: "1707 W Charleston Blvd Ste 230, Las Vegas, NV 89102 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "DEEPA MOCHERLA MD",
      address: "1707 W Charleston Blvd Ste 230, Las Vegas, NV 89102 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "KARISHMA BHARDWAJ MD",
      address: "1707 W Charleston Blvd Ste 230, Las Vegas, NV 89102 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "JOHN VARRAS MD",
      address: "1707 W Charleston Blvd Ste 230, Las Vegas, NV 89102 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "SHAMS MISTRY MD",
      address: "1707 W Charleston Blvd Ste 230, Las Vegas, NV 89102 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "THOMAS TSAI MD",
      address: "1707 W Charleston Blvd Ste 230, Las Vegas, NV 89102 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "ZUBIN DAMANIA MD",
      address: "1707 W Charleston Blvd Ste 230, Las Vegas, NV 89102 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "MOHAMMAD JARADAT MD",
      address: "1707 W Charleston Blvd Ste 230, Las Vegas, NV 89102 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "MISTI SONG MD",
      address: "2300 W Charleston Blvd Ste 265, Las Vegas, NV 89102 Clark",
      specialty: "Family Practice, HIV/AIDS Specialist"
    },
    {
      name: "NAZIA KHAN MD",
      address: "2400 W Charleston Blvd, Las Vegas, NV 89102 Clark",
      specialty: "Family Practice"
    },
    {
      name: "ALTAF DAWOOD MD",
      address: "4270 S Decatur Blvd Ste A1A, Las Vegas, NV 89103 Clark",
      specialty: "Family Practice"
    },
    {
      name: "RANJIT MAKAR MD",
      address: "4270 S Decatur Blvd Ste A1A, Las Vegas, NV 89103 Clark",
      specialty: "Internal Medicine, Nephrology"
    },
    {
      name: "SANDHYA WAHI GURURAJ MD",
      address: "4270 S Decatur Blvd Ste A1A, Las Vegas, NV 89103 Clark",
      specialty: "Family Practice"
    },
    {
      name: "JERRY CADE MD",
      address: "4270 S Decatur Blvd Ste A1A, Las Vegas, NV 89103 Clark",
      specialty: "Family Practice"
    },
    {
      name: "CARLOS ANAYA MD",
      address: "2121 E Flamingo Rd Ste 202, Las Vegas, NV 89119 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "RAYMOND NICHOLL MD",
      address: "2909 W Charleston Blvd, Las Vegas, NV 89102 Clark",
      specialty: "Family Practice"
    },
    {
      name: "DIPTI SHAH MD",
      address: "2909 W Charleston Blvd, Las Vegas, NV 89102 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "ROBERT KAPLAN DO",
      address: "2909 W Charleston Blvd, Las Vegas, NV 89102 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "FRANCIS JIMENEZ MD",
      address: "4275 Burnham Ave Ste 270, Las Vegas, NV 89119 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "LANCE MAYOR MD",
      address: "4275 Burnham Ave Ste 255, Las Vegas, NV 89119 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "KOFI SARFO MD",
      address: "4275 Burnham Ave Ste 340, Las Vegas, NV 89119 Clark",
      specialty: "Family Practice"
    },
    {
      name: "TOM TRAN MD",
      address: "4275 Burnham Ave Ste 340, Las Vegas, NV 89119 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "MICHAEL JACOBS MD",
      address: "4275 Burnham Ave Ste 340, Las Vegas, NV 89119 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "MARIJA KRSTIC MD",
      address: "4275 Burnham Ave Ste 255, Las Vegas, NV 89119 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "MARIJA KRSTIC MD",
      address: "4275 Burnham Ave Ste 340, Las Vegas, NV 89119 Clark",
      specialty: "Family Practice"
    },
    {
      name: "TODD DUKES DO",
      address: "4275 Burnham Ave Ste 340, Las Vegas, NV 89119 Clark",
      specialty: "Family Practice"
    },
    {
      name: "FERDINAND TAN MD",
      address: "4275 Burnham Ave Ste 255, Las Vegas, NV 89119 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "HUGH BURT MD",
      address: "3131 W Charleston Blvd Ste 150, Las Vegas, NV 89102 Clark",
      specialty: "Family Practice"
    },
    {
      name: "AFI BRUCE MD",
      address: "2010 Goldring Ave Ste 308, Las Vegas, NV 89106 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "JOHN HOU MD",
      address: "2010 Goldring Ave Ste 100, Las Vegas, NV 89106 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "EVANGELINA SNOW MD",
      address: "2010 Goldring Ave Ste 100, Las Vegas, NV 89106 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "GRANT DAWSON MD",
      address: "2010 Goldring Ave Ste 100, Las Vegas, NV 89106 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "MARK PEREZ MD",
      address: "2020 Goldring Ave Ste 502, Las Vegas, NV 89106 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "MUHAMMAD AHMED MD",
      address: "2020 Goldring Ave # 308, Las Vegas, NV 89106 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "SALIMA HASSANALI DO",
      address: "2225 E Flamingo Rd Ste 105, Las Vegas, NV 89119 Clark",
      specialty: "Family Practice"
    },
    {
      name: "VICTOR DELEON MD",
      address: "1701 Bearden Dr Ste 200, Las Vegas, NV 89106 Clark",
      specialty: "Internal Medicine, Physical Medicine and Rehab"
    },
    {
      name: "RICARDO VELAZQUEZ MD",
      address: "1701 Bearden Dr Ste 200, Las Vegas, NV 89106 Clark",
      specialty: "Internal Medicine, Physical Medicine and Rehab"
    },
    {
      name: "MARK MCKENZIE MD",
      address: "1712 Bearden Dr, Las Vegas, NV 89106 Clark",
      specialty: "Family Practice"
    },
    {
      name: "DEAN MILNE DO",
      address: "701 Shadow Ln Ste 200, Las Vegas, NV 89106 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "LUIS SANCHEZ MD",
      address: "700 Slvrdo Rnch Bl 140, Las Vegas, NV 89183 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "AHMED MOHAMED MD",
      address: "700 Slvrdo Rnch Bl 140, Las Vegas, NV 89183 Clark",
      specialty: "Family Practice"
    },
    {
      name: "CHARLES MCSWAIN DO",
      address: "3301 W Charleston Blvd, Las Vegas, NV 89102 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "DOLUE EZEANOLUE MD",
      address: "3309 W Charleston Blvd, Las Vegas, NV 89102 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "ALAFURO ORUENE MD",
      address: "3309 W Charleston Blvd, Las Vegas, NV 89102 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "AMIR NICKNAM MD",
      address: "3650 S Eastern Ave Ste 230, Las Vegas, NV 89169 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "PAUL MCHUGH MD",
      address: "3599 S Eastern Ave, Las Vegas, NV 89169 Clark",
      specialty: "Internal Medicine, Glaucoma"
    },
    {
      name: "KEVIN PRINCE MD",
      address: "4500 W Oakey Blvd, Las Vegas, NV 89102 Clark",
      specialty: "Internal Medicine"
    },
    {
      name: "BEHZAD KERMANI MD",
      address: "4500 W Oakey Blvd, Las Vegas, NV 89102 Clark",
      specialty: "Family Practice"
    },
    {
      name: "TENG ONG MD",
      address: "1300 S Maryland Pkwy, Las Vegas, NV 89104 Clark",
      specialty: "Internal Medicine"
    }

 ];



    var doctors = new Bloodhound({
        datumTokenizer: function (data) {
            return Bloodhound.tokenizers.whitespace(data.name);
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: doctors_list
    });

    doctors.initialize();

    $('.doctors .typeahead').typeahead({
        highlight: true
    }, {
        name: 'titles',
        displayKey: 'name',
        source: doctors.ttAdapter(),
        templates: {
          suggestion: function (data) {
              return '<p><strong>' + data.name +'</strong> ('+data.specialty+')'+'<br/>'+ data.address +'<br/>'+'';
          }
        }
    });

    $('.healthMedications .typeahead').typeahead({
      hint: true, highlight: true, minLength: 1
    }, {
      name: 'states',
      source: substringMatcher(drugs)
    });

    $('.doctors .typeahead').on('typeahead:selected', function(event, item) {
      Household.selectDoctor(event, item, $(this));
    })

    $('.healthMedications .typeahead').on('typeahead:selected', function(event, item) {
      $(this).closest('.modal').find('.collapse').collapse('show');
    })

  });
</script>
