  <tr class='<%=message.message_read==true ? "msg-inbox-read" : ""%>' onclick="window.location='<%=retrieve_show_path(provider, message) %>'">
    <td> <%= message.try(:from) if @folder == 'Inbox' %>
     <%= message.try(:to)   if @folder == 'Sent'%>
   </td>
   <td> <%=message.created_at %>
    <td> <%= message.try(:subject) %> </td>
    <td> <%#= link_to "show", polymorphic_path([:insured, :family, provider.inbox, message]), class: "btn btn-primary", remote: true %>
      <%- if @folder != 'Deleted' %>
        <% if @employer_profile.present? %>
          <%= link_to '<i class="fa fa-trash-o fa-2x"></i>'.html_safe, employers_inbox_path(provider, message, message_id: message.id), class: "pull-right", method: :delete %>
          <% else %>
          <%= link_to '<i class="fa fa-trash-o fa-2x"></i>'.html_safe, retrieve_show_path(provider, message), class: "pull-right", method: :delete %>
        <% end %>
      <% end %>
    </td>
  </tr>
