<footer class="footer-wrapper module footer">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-6 footer-left">
            <div class="row">
                <span class="copyright" style="vertical-align: middle;">
                    <span><%= copyright_notice %></span>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 footer-right">
            <div class="row">
                <ul class="list-unstyled list-inline pull-right">
                    <li>
                        <%= link_to "tel:#{Settings.contact_center.phone_number}", class: "call-customer-service" do %>
                          <%= image_tag 'icons/call_20_white.png' %>
                          <span><%= Settings.contact_center.phone_number %></span>
                        <% end %>                        
                    </li>
                    <li style="vertical-align: middle;">
                        <%= mail_to Settings.contact_center.email_address do %>
                          <%= image_tag 'icons/mail_32_white.png' %>
                          <span><%= Settings.contact_center.email_address %></span>
                        <% end %>
                    </li>
                    <li style="vertical-align: middle;">
                        <a href="#" title="faqs">
                          <%= image_tag 'icons/help_18_white.png' %>
                          <span>FAQs</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>